<html id="login-page1">
  <body>
    <div class="login-bg">
      <div class="container ">
          <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6">
                  <div class="card">
                      <div class="card-body">
                          <div class="text-center mb-4 mt-3">
                              <a href="index.html">
                                  <span><img src="../../../assets/img/logo.png" alt="" height="100px"></span>
                              </a>
                          </div>
                          <h4 class="text-center">Log In To Continue</h4>
                          <form [formGroup]="loginForm" class="p-2 mt-3">
                              <div class="form-group">
                                  <label for="emailaddress">Email address</label>
                                  <input class="form-control" type="email" formControlName="email" id="emailaddress" required="" placeholder="john@deo.com">
                              </div>
                              <div class="form-group">
                                  <label for="password">Password</label>
                                  <input class="form-control" type="password" required="" id="password" placeholder="Enter your password" formControlName="password">
                              </div>
                              <div class="mb-3 text-center">
                                  <button class="btn btn-primary" type="submit" (click)="submitLogin()"> Log In </button>
                              </div>
                          </form>
                      </div>
                      <!-- end card-body -->
                  </div>
                  <!-- end card -->
              </div>
              <!-- end col -->
          </div>
      </div>
    </div>
  </body>
</html>

