<div class="page-container">
  <div class="main-content">
    <div class="card">
      <div class="card-body">
        <h4>Users</h4>
        <p>Currently available Users.</p>
        <div class="m-t-25">
          <table datatable id="data-table" class="table">
            <thead class="btn-success text-white">
              <tr>
                <th>Name  </th>
                <th>Phone</th>
                <th>Email</th>
                <th>Aadhar</th>
                <th>Joined On</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList; let i = index;">
                <td>{{ user?.fullName | uppercase }}</td>
                <td>{{ user?.phone }}</td>
                <td class="text-center">{{ user?.email }}</td>
                <td><a [href]="imageUrl+'/'+user?.aadharCard" target="_blank" rel="noopener noreferrer"><img [src]="imageUrl+'/'+user?.aadharCard" style="width: 200px;" alt=""></a></td>
                <td>{{ user?.createdAt | date:'mediumDate' }}</td>
                <td>
                  <!-- <a [routerLink]="['/buildings/update-user', user?._id]" routerLinkActive="router-link-active"
                    class="text text-primary" style="cursor: pointer; display: block;" title="Edit user"><i
                      class="fa fa-edit"></i></a> -->
                  <a class="text text-danger" (click)="deleteUser(user?._id, i)"
                    style="cursor: pointer; display: block;" title="Delete user"><i class="fa fa-trash"></i></a>
                </td>
                <!-- Modal -->
                <!-- <div class="modal fade" id="exampleModal">
                  <div class="modal-dialog" style="max-width: 42%;">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Duplicating {{ selectedFlat?.serial }}</h5>
                        <button type="button" class="close" data-dismiss="modal" id="close">
                          <i class="anticon anticon-close"></i>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="form-group row">
                          <input type="text" class="form-control" (change)="setDuplicate($event.target.value)"
                            placeholder="Enter number of copy you want to create.">
                        </div>

                        <div class="form-group row" *ngFor="let dupli of duplicateArray; let i = index;">
                          <div class="col-md-12 mb-2">
                            <label for="serial">Enter serial/user number for {{ i + 1 }} user.</label>
                            <input type="text" class="form-control" placeholder="Enter serial/user number"
                              [(ngModel)]="data.serial[i]">
                          </div>
                          <div class="col-md-12">
                            <label for="floor">Enter floor number for {{ i + 1 }} user.</label>
                            <input type="number" [max]="buildingDetails?.floors" class="form-control"
                              placeholder="Enter floor number" [(ngModel)]="data.floor[i]">
                          </div>
                          <hr style="width: 100%; margin-bottom:10px">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="submitDuplicate()">Save
                          changes</button>
                      </div>
                    </div>
                  </div>
                </div> -->
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name  </th>
                <th>Phone</th>
                <th>Email</th>
                <th>Aadhar</th>
                <th>Joined On</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
