<footer>
  <div class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-6 col-xs-6 col-md-3 col-lg-3">
          <h5>Support</h5>

        </div>
        <div class="col-12 col-xs-6 col-md-4 col-lg-6">
          <h5>Use For Link</h5>
          <ul class="navbar-nav quick-link-item ml-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active"  title="About us ">About us </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/project']" routerLinkActive="router-link-active"  title="Projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/new-launch']" routerLinkActive="router-link-active"  title="New Launch">New Launch</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/routePath']" routerLinkActive="router-link-active"  title="Privacy Policy">Privacy Policy </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/routePath']" routerLinkActive="router-link-active"  title="Refund Policy ">Refund Policy </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/faq']" routerLinkActive="router-link-active"  title="FAQ’S">FAQ’S</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/routePath']" routerLinkActive="router-link-active"  title="Terms & Conditions dd">Terms & Conditions </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active"  title="Contact Us">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-xs-6 col-md-3 col-lg-3 box-ushx-app">
          <h5>Contact Info</h5>
          <ul class="footer-contact-list">
            <li><a href="tel:900222,2222" title="+900-222,2222">+900-222,2222</a></li>
            <li><a href="mailto:info@kedia.com" title="info@kedia.com">info@kedia.com</a></li>
            <li><a href="#" title="Lorem Ipsum is simply dummy text">Lorem Ipsum is simply dummy text</a></li>
          </ul>
          <ul class="social-icon">
            <li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="copy-right-box">
        <div class="row get-start-steps">
          <div class=" col-xs-6 col-md-12 col-lg-7 text-left">
            © 2020 KEDIA All Right Reserved.
          </div>
          <div class=" col-xs-6 col-md-12 col-lg-5 text-right">
            <div class="design-box">Develop & Design by <a class="company-text" href="https://numeroeins.com/"
                title="Web Development Company">NumeroEins</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
