<header>
  <div class="menu-box">
    <div class="container">
      <h1 class="logo">
        <a class="navbar-brand js-scroll-trigger" href="index.html" title="Kedia Homes">
          <img src="../../../assets/img/logo.png" alt="Kedia Homes" title="Kedia Homes"> Kedia Homes
        </a>
      </h1>
      <div class="center-box">
        <nav class="navbar navbar-expand-lg" id="mainNav">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> Project </a>
                <ul class="dropdown-menu downbox" aria-labelledby="navbarDropdownMenuLink">

                  <li class="dropdown-submenu width"><a class="dropdown-item dropdown-toggle">Villas</a>
                    <ul class="dropdown-menu downboxleft">
                      <li *ngFor="let data of projectVillas"><a class="dropdown-item"  (click)="gotopage(data)" >{{data?.name}}</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu width"><a class="dropdown-item dropdown-toggle">Flats</a>
                    <ul class="dropdown-menu downboxleft">
                      <li *ngFor="let data of projectFlats"><a class="dropdown-item" (click)="gotopage(data)" >{{data?.name}}</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu width"><a class="dropdown-item dropdown-toggle">Plots</a>
                    <ul class="dropdown-menu downboxleft">
                      <li *ngFor="let data of projectPlots"><a class="dropdown-item" (click)="gotopage(data)" >{{data?.name}}</a></li>
                      
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/new-launch']" routerLinkActive="router-link-active"
                  title="New Launch">New Launch</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active"
                  title="About us ">About us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/faq']" routerLinkActive="router-link-active" title="Faq">Faq</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active"
                  title="Contact Us">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="right-box" *ngIf="!user; else guest">
        <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" title="Sign In"><i
            class="fas fa-user"></i> Sign In</a>
      </div>
      <ng-template #guest>
        <div class="right-box">
          <a [routerLink]="['/user/bookings']" routerLinkActive="router-link-active" title="Your bookings"><i
              class="fas fa-home"></i> Your Bookings</a>

          <a class="ml-3" href="#" (click)="logout()" title="Your bookings"><i class="fas fa-power-off"></i> Logout</a>
        </div>
      </ng-template>

    </div>
  </div>
</header>