.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 

.width{
    width: 100%;
}

.downbox{
    background-color: #c52f33;
    padding: 15px 15px;
    border: 0px solid;
}

.downboxleft{
    background-color: #c52f33;
    border: 0px solid;
    padding: 0px 50px; 
}