<article>
  <div class="banner-box">
    <img src="../../assets/img/banner-img.jpg" />
    <div class="banner_title_content">
      <div class="banner_title">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
  <div class="section-contactUs">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xs-6 col-md-4 col-lg-4">
          <div class="address-box">
            <span class="icon"><i class="fas fa-map-pin"></i></span>
            <h4>Corporate Office</h4>
            <h6>Kedia Real Estate LLP</h6>
            <p>Shop No. 8,9,10,11<br>
              Ganesh Nagar 6A, Nadi Ka Phatak,<br>
              Murlipura, Sikar Road, Jaipur<br>
              Rajasthan-302 012 (INDIA)<br>
            </p>
          </div>
        </div>
        <div class="col-12 col-xs-6 col-md-4 col-lg-4">
          <div class="address-box">
            <span class="icon"><i class="fas fa-map-pin"></i></span>
            <h4>Branch Office</h4>
            <h6>Kedia Real Estate LLP</h6>
            <p>1 Gayatri Nagar, Main Tonk Road<br>
              Ganesh Nagar 6A, Nadi Ka Phatak,<br>
              Murlipura, Sikar Road, Jaipur<br>
              Rajasthan-302 012 (INDIA)<br>
            </p>
          </div>
        </div>
        <div class="col-12 col-xs-6 col-md-4 col-lg-4">
          <div class="address-box">
            <span class="icon"><i class="fas fa-map-pin"></i></span>
            <h4>Corporate Office</h4>
            <h6>Kedia Real Estate LLP</h6>
            <p>Shop No. 8,9,10,11<br>
              Ganesh Nagar 6A, Nadi Ka Phatak,<br>
              Murlipura, Sikar Road, Jaipur<br>
              Rajasthan-302 012 (INDIA)<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-contact-detail">
    <div class="container">
      <ul class="detail-list">
        <li>
          <span class="icon"><img src="../../assets/img/icon-tollfree.png" style="width: 52px;"/></span>
          <h4>Toll Free</h4>
          <p>1800-120-2323</p>
        </li>
        <li>
          <span class="icon"><img src="../../assets/img/icon-mail.png" style="width: 65px;"/></span>
          <h4>Mail</h4>
          <p>info@kediahomes.com</p>
        </li>
        <li>
          <span class="icon"><img src="../../assets/img/icon-phone.png" style="width: 32px;"/></span>
          <h4>Phone</h4>
          <p>+91-7877072737</p>
        </li>
        <li>
          <span class="icon"><img src="../../assets/img/icon-web.png" style="width: 60px;"/></span>
          <h4>Web Site</h4>
          <p>www.kediahomes.com</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="section-contactUs-form p-0">
      <div class="row">
        <div class="col-12 col-xs-6 col-md-6 col-lg-6 bg-gray">
          <div class="">
            <h3 class="mb-3">Contact Us Now</h3>
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <!-- <label for="name" class="">Your Name</label> -->
                    <input type="text" id="name" name="name" class="form-control"
                      placeholder="Enter Name">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <!-- <label for="email" class="">Your Email</label> -->
                    <input type="text" id="email" name="email" class="form-control"
                      placeholder="Enter Email">

                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <!-- <label for="subject" class="">Phone Number</label> -->
                    <input type="tel" id="Number" name="number" class="form-control"
                      placeholder="Enter Number">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="md-form">
                    <!-- <label for="message">Your Message</label> -->
                    <textarea type="text" id="message" name="message" rows="3"
                      class="form-control md-textarea" placeholder="Enter Message" style="border-radius: 20px;"></textarea>
                  </div>
                </div>
              </div>
              <div class="text-center text-md-left">
                <a class="btn btn-primary text-white" title="Send">Send</a>
              </div>
              <div class="status"></div>
            </form>
          </div>
        </div>
        <div class="col-12 col-xs-6 col-md-6 col-lg-6 p-0">
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7575004.697642452!2d72.81004961581236!3d22.02154823289872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db49dd0820f61%3A0x3da552ae4e73c6b4!2sKedia%20Homes!5e0!3m2!1sen!2sin!4v1605505688453!5m2!1sen!2sin"
          width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
        </div>
      </div>
  </div>
</article>
