<!-- Page Container START -->
<div class="page-container">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="page-header no-gutters">
      <div class="row align-items-md-center">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <!-- <div class="input-affix m-v-10">
                <i class="prefix-icon anticon anticon-search opacity-04"></i>
                <input type="text" class="form-control" placeholder="Search Image" />
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-md-right m-v-10">
            <div class="btn-group m-r-10">
              <button id="list-view-btn" type="button" class="btn btn-default btn-icon active" data-toggle="tooltip"
                data-placement="bottom" title="List View">
                <i class="anticon anticon-ordered-list"></i>
              </button>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#create-new-image" id="addProjectBtn">
              <i class="anticon anticon-plus"></i>
              <span class="m-l-5">Add New Image</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card" id="list-view">
        <div class="card-body">
          <div class="table-responsive" style="min-height: 500px">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Status</th>
                  <th>Type</th>
                  <th>Heading</th>
                  <th>Project Link</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="imagesList?.length > 0; else notAvailableTemplate">
                  <tr *ngFor="let image of imagesList; let i = index">
                    <td>
                      <b>{{ i + 1 }}</b>
                    </td>
                    <td>
                      <img [src]="imageUrl +'/'+ image?.image" alt="" srcset="" style="width: 100px;">
                    </td>
                    <td>
                      <span *ngIf="image?.status == 'active'" class="badge badge-primary">Active</span>
                      <span *ngIf="image?.status == 'inactive'" class="badge badge-danger">Inactive</span>
                    </td>
                    <td>
                      <p>{{ image?.type | titlecase }}</p>
                    </td>
                    <td class="text-center">
                      {{ image?.heading ? image?.heading : '-' | titlecase}}
                    </td>
                    <td>
                      {{ image?.projectLink }}
                    </td>
                    <td>
                      <p><i class="anticon anticon-edit text-primary"></i></p>
                      <p (click)="deleteImage(image?._id, i)"><i class="anticon anticon-delete text-danger"></i></p>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #notAvailableTemplate>
                  <tr>
                    <td colspan="5" class="text-center">No images available at the moment.</td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="create-new-image">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{
            !editMode
              ? "Add New Image"
              : "Edit Image "
          }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" id="closeModal">
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addImageFrom">
          <div class="container">
            <div class="col-md-12 form-group">
              <label for="new-image-name">Image <span class="text text-danger">(Image with resolution 570 x 665 or above allowed.)</span></label>
              <input type="file" formControlName="image" id="" class="form-control"
                (change)="uploadImage($event.target.files)">
              <img *ngIf="imagePreview" [src]="imagePreview" alt="" srcset="" style="width: 250px; margin: 20px;">
              <p class="text text-info">Current size width:<span id="width"></span>px and height: <span id="height"></span> px </p>
            </div>
            <div class="col-md-12 form-group">
              <label for="logo">Image Position</label>
              <select formControlName="type" id="" class="form-control" #poition>
                <option value="">Select image position</option>
                <option value="top">Top</option>
                <option value="mid">Mid</option>
              </select>
            </div>
            <div class="col-md-12 form-group">
              <label for="logo">Project link</label>
              <input type="text" class="form-control" formControlName="projectLink">
            </div>
            <div class="col-md-12 form-group" *ngIf="poition.value == 'mid'">
              <label for="loanPercent">Heading</label>
              <input type="text" formControlName="heading" class="form-control"
                placeholder="Please enter heading for image" />
            </div>
            <!-- <div class="col-md-12 form-group">
              <label for="status">Status</label>
              <select formControlName="status" id="status" class="form-control">
                <option value="active" selected>Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!addImageFrom.valid" (click)="submitImage()">
          {{ !editMode ? "Create Image" : "Update Image" }}
        </button>
      </div>
    </div>
  </div>
</div>
