<div class="row" style="padding: 20px;">
    <div class="col-12 col-xs-6 col-md-4 col-lg-3">
        <div class="card1">
            <p class="center">
                <img src="assets/img/img-logo.png" alt="" title="">
            </p>
            <h3 class="right1">{{ project?.name }} </h3>
            <h4 class="right1">{{ project?.state }}</h4>
            <div class="prise right1" style="color: blue;
        font-weight: bold;
        font-size: 25px;">₹ {{project?.startsFrom}}</div>
            <p>Price includes everything except stamp duty & Registration. </p>

            <h5 class="right" id="location-tab" (click)="selectpro('Location')"> <span
              [ngClass]="{'border': step =='Location'}"> Location </span> </h5>
            <h5 class="right" id="location-tab" (click)="selectpro('Overview')"> <span
                    [ngClass]="{'border': step =='Overview'}"> Overview </span> </h5>
            <h5 class="right" id="amenities-tab" (click)="selectpro('AMENITIES')"> <span
                    [ngClass]="{'border': step =='AMENITIES'}"> AMENITIES </span> </h5>
            <h5 class="right" id="loan-tab" (click)="selectpro('LOAN')"><span [ngClass]="{'border': step =='LOAN'}">
                    LOAN </span> </h5>
            <h5 class="right" (click)="selectpro('WALK THROUGH')"> <span [ngClass]="{'border': step =='WALK THROUGH'}">
                    WALK THROUGH </span> </h5>
            <h5 class="right" (click)="selectpro('Configurations')"> <span
                    [ngClass]="{'border': step =='Configurations'}">
                    Configurations </span> </h5>
            <h5 class="right" (click)="selectpro('Key Features')"> <span [ngClass]="{'border': step =='Key Features'}">
                    Key Features </span> </h5>
            <h5 class="right" (click)="selectpro('Why Invest')"> <span [ngClass]="{'border': step =='Why Invest'}">
                    Why Invest </span> </h5>
            <h5 class="right" (click)="selectpro('Broucher')"> <span [ngClass]="{'border': step =='Broucher'}"> Broucher
                </span> </h5>
        </div>
    </div>

    <div class="col-12 col-xs-6 col-md-4 col-lg-9">
        <h4 style="text-transform: uppercase;">{{ project?.name }}- {{step}}</h4>
        <section *ngIf="step== 'AMENITIES'">
            <div class="card">
                <p>The amenities we are providing in this project.</p>
                <ul class="amenities-list">
                    <li *ngFor="let ame of project?.amenities"><img [src]="imageUrl +'/'+ame?.logo" alt="" srcset=""> {{ ame?.name }}</li>
                  </ul>
                  <h4>Floorings</h4>
                  <ul class="floorings-list list2">
                    <li *ngFor="let flooring of project?.floorings">{{ flooring }}</li>
                  </ul>
                  <h4>Fittings</h4>
                  <ul class="fittings-list list2">
                    <li *ngFor="let fitting of project?.fittings">{{ fitting }}</li>
                  </ul>
                  <h4>Walls</h4>
                  <ul class="walls-list list2">
                    <li *ngFor="let wall of project?.walls">{{ wall }}</li>
                  </ul>
            </div>
        </section>
        <section *ngIf="step== 'LOAN'">
            <ul class="logo-list">
                <li *ngFor="let banks of project?.bankDetails"><img [src]="imageUrl +'/'+ banks?.logo" alt="" title="" width="100px"><span>{{ banks?.loanPercent }}% Floating</span>
                </li>
              </ul>
        </section>
        <section *ngIf="step== 'Why Invest'">
            <ul class="list-invest full-list">
                <li *ngFor="let wyInv of project?.whyInvest">{{ wyInv }}</li>
            </ul>
        </section>

        <section *ngIf="step== 'Overview'">
            <div class="section">
                <!-- <h4>{{ project?.name | titlecase }} Overview</h4> -->
                <ul class="overview-list">
                  <li><span>Project Size</span>{{ project?.numberOfBuildings }} Buildings - {{ project?.numberOfHouses }} Plots</li>
                  <li><span>Project Area</span>{{ project?.area }} Acres</li>
                  <li><span>Launch Date</span>{{ project?.launchDate | date:'shortDate' }}</li>
                  <li><span>Rera Id</span>{{ project?.reraId }}</li>
                </ul>
                <h4>About {{ project?.name | titlecase }}</h4>
                <p>{{ project?.description }}</p>
              </div>
        </section>

        <section *ngIf="step== 'Key Features'">
            <ul class="list-invest list2">
                <li *ngFor="let keyFeat of project?.keyfeatures" >{{ keyFeat }}</li>
              </ul>
            </section>

            <section *ngIf="step== 'Configurations'">
                <div class="button-group mb-3">
                    <div class="btn-group">
                      <button type="button" [ngClass]="{'active': activeBhkNum == bhkIdx}" *ngFor="let config of project?.bhkNums; let bhkIdx = index;"  class="btn config" (click)="activeBhk(bhkIdx)">{{ config?.name }} BHK</button>
                    </div>
                  </div>

                  <ng-container *ngFor="let bhk of project?.bhkNums; let bhkIdx = index" >
                    <span [ngClass]="{'show-ved': activeBhkNum == bhkIdx,'hide': activeBhkNum != bhkIdx}">
                      <ul class="nav nav-tabs" id="myTab" role="tablist" >
                          <li class="nav-item" *ngFor="let option of bhk?.options; let op = index">
                            <a class="nav-link" [ngClass]="{'active': activeOpt == op}"  data-toggle="tab" (click)="toggleConfig(op)" role="tab"  aria-selected="false">{{ option?.size }} sq.ft</a>
                          </li>
                      </ul>
    
                      <div class="tab-content" id="myTabContent" >
                        <div class="tab-pane fade show" *ngFor="let option of bhk?.options; let op = index" [ngClass]="{'show-ved': activeOpt == op,'hide': activeOpt != op}"  role="tabpanel" >
                          <div class="configurations-prise">
                            ₹ {{ option?.price}}<span></span>
                          </div>
                          <div class="right-text">
                            <p>Builtup Area : <b>{{ option?.builtUpArea }}</b></p>
                          </div>
                          <div class="img-box"><img [src]="option?.image" alt="" title=""></div>
                        </div>
                      </div>
                    </span>
                  </ng-container>
            </section>

            <section *ngIf="step== 'WALK THROUGH'">
                <div class="row">
                    <div class="col-md-3" *ngFor="let ame of project?.images"><img [src]="imageUrl +'/'+ame" alt="" srcset=""></div>
                </div>
            </section>

            <section *ngIf="step== 'Location'">
              <div class="row">
              <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2517.849652808904!2d75.79852266316674!3d26.815224294505835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2933d84145b7d4c8!2sKedia%20Homes!5e0!3m2!1sen!2sin!4v1606116597749!5m2!1sen!2sin"
              width="100%" height="720" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
              </div>
            </section>


            <section>
              <div class="section" *ngIf="step== 'Broucher'">
                <!-- <h4>Download</h4> -->
                <a   (click)="planImage()" class="btn" title="Download Plan Map">Download Plan Map</a>
                <a   (click)="Brochure()"  class="btn" title="View Brochure">View Brochure</a>
              </div>
            </section>
    </div>
</div>