<!-- Side Nav START -->
<div class="side-nav">
  <div class="side-nav-inner">
    <ul class="side-nav-menu scrollable">
      <li class="nav-item dropdown open">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-dashboard"></i>
          </span>
          <span class="title">Dashboard</span>
        </a>
        <!-- <ul class="dropdown-menu">
          <li class="active">
            <a href="index.html">Default</a>
          </li>
          <li>
            <a href="index-crm.html">CRM</a>
          </li>
          <li>
            <a href="index-e-commerce.html">E-commerce</a>
          </li>
          <li>
            <a href="index-projects.html">Projects</a>
          </li>
        </ul> -->
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-appstore"></i>
          </span>
          <span class="title">Projects</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/projects']" routerLinkActive="router-link-active" >Projects List</a>
          </li>
          <li>
            <a [routerLink]="['/add-new-project']" routerLinkActive="router-link-active" >Add New Project</a>
          </li>
          <!-- <li>
            <a href="app-mail.html">Mail</a>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0);">
              <span>Projects</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="app-project-list.html">Project List</a>
              </li>
              <li>
                <a href="app-project-details.html">Project Details</a>
              </li>
            </ul>
          </li> -->
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-home"></i>
          </span>
          <span class="title">Properties</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/properties']" routerLinkActive="router-link-active" >Property List</a>
          </li>
          <li>
            <a [routerLink]="['/add-new-property']" routerLinkActive="router-link-active" >Add New Property</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/banks']" routerLinkActive="router-link-active" >
          <span class="icon-holder">
            <i class="anticon anticon-bank"></i>
          </span>
          <span class="title">Banks</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/amenities']" routerLinkActive="router-link-active" >
          <span class="icon-holder">
            <i class="anticon anticon-compass"></i>
          </span>
          <span class="title">Amenities</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-layout"></i>
          </span>
          <span class="title">Home  Images</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/top-slider']" routerLinkActive="router-link-active" >Slider Images</a>
          </li>
          <li>
            <a [routerLink]="['/mid-section-images']" routerLinkActive="router-link-active" >Mid Section Images</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/bookings']" routerLinkActive="router-link-active" >
          <span class="icon-holder">
            <i class="anticon anticon-gift"></i>
          </span>
          <span class="title">Bookings</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/user-list']" routerLinkActive="router-link-active" >
          <span class="icon-holder">
            <i class="anticon anticon-user"></i>
          </span>
          <span class="title">Users</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" >
          <span class="icon-holder">
            <i class="anticon anticon-logout"></i>
          </span>
          <span class="title">Logout</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
      </li>

      <!-- <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-build"></i>
          </span>
          <span class="title">UI Elements</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="avatar.html">Avatar</a>
          </li>
          <li>
            <a href="alert.html">Alert</a>
          </li>
          <li>
            <a href="badge.html">Badge</a>
          </li>
          <li>
            <a href="buttons.html">Buttons</a>
          </li>
          <li>
            <a href="cards.html">Cards</a>
          </li>
          <li>
            <a href="icons.html">Icons</a>
          </li>
          <li>
            <a href="lists.html">Lists</a>
          </li>
          <li>
            <a href="typography.html">Typography</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-hdd"></i>
          </span>
          <span class="title">Components</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="accordion.html">Accordion</a>
          </li>
          <li>
            <a href="carousel.html">Carousel</a>
          </li>
          <li>
            <a href="dropdown.html">Dropdown</a>
          </li>
          <li>
            <a href="modals.html">Modals</a>
          </li>
          <li>
            <a href="toasts.html">Toasts</a>
          </li>
          <li>
            <a href="popover.html">Popover</a>
          </li>
          <li>
            <a href="slider-progress.html">Slider & Progress</a>
          </li>
          <li>
            <a href="tabs.html">Tabs</a>
          </li>
          <li>
            <a href="tooltips.html">Tooltips</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-form"></i>
          </span>
          <span class="title">Forms</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="form-elements.html">Form Elements</a>
          </li>
          <li>
            <a href="form-layouts.html">Form Layouts</a>
          </li>
          <li>
            <a href="form-validation.html">Form Validation</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-table"></i>
          </span>
          <span class="title">Tables</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="basic-table.html">Basic Table</a>
          </li>
          <li>
            <a href="data-table.html">Data Table</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-pie-chart"></i>
          </span>
          <span class="title">Charts</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="chartist.html">Chartist</a>
          </li>
          <li>
            <a href="chartjs.html">ChartJs</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-file"></i>
          </span>
          <span class="title">Pages</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="profile.html">Profile</a>
          </li>
          <li>
            <a href="invoice.html">Invoice</a>
          </li>
          <li>
            <a href="members.html">Members</a>
          </li>
          <li>
            <a href="pricing.html">Pricing</a>
          </li>
          <li>
            <a href="setting.html">Setting</a>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0);">
              <span>Blog</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="blog-grid.html">Blog Grid</a>
              </li>
              <li>
                <a href="blog-list.html">Blog List</a>
              </li>
              <li>
                <a href="blog-post.html">Blog Post</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="anticon anticon-lock"></i>
          </span>
          <span class="title">Authentication</span>
          <span class="arrow">
            <i class="arrow-icon"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="login-1.html">Login 1</a>
          </li>
          <li>
            <a href="login-2.html">Login 2</a>
          </li>
          <li>
            <a href="login-3.html">Login 3</a>
          </li>
          <li>
            <a href="sign-up-1.html">Sign Up 1</a>
          </li>
          <li>
            <a href="sign-up-2.html">Sign Up 2</a>
          </li>
          <li>
            <a href="sign-up-3.html">Sign Up 3</a>
          </li>
          <li>
            <a href="error-1.html">Error 1</a>
          </li>
          <li>
            <a href="error-2.html">Error 2</a>
          </li>
        </ul>
      </li> -->
    </ul>
  </div>
</div>
<!-- Side Nav END -->
