table.dataTable thead.text-white > tr > th {
  color: #ffffff !important;
  border: none;
}

html .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #333333 !important;
  border: 1px solid #ffffff;
  background-color: #3f87f5;
  /* background: linear-gradient(to bottom, white 0%, gainsboro 100%); */
}


input, textarea, select{
  background-color: #fbfbfb;
}

span{
  cursor: pointer;
}
