<!-- Page Container START -->
<div class="page-container">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="page-header no-gutters has-tab">
      <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
          <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
            <img [src]="buildingDetails?.images[0] ? imageUrl +'/'+buildingDetails?.images[0] : imageUrl +'/'+buildingDetails?.images[1]" alt="N.A" />
          </div>
          <div class="m-l-15">
            <h4 class="m-b-0">{{ buildingDetails?.name | titlecase }}</h4>
            <p class="text-muted m-b-0">Code: #5325</p>
          </div>
        </div>
        <div class="m-b-15">
          <!-- <button class="btn btn-primary">
            <i class="anticon anticon-edit"></i>
            <span>Edit</span>
          </button> -->
        </div>
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="details-page" data-toggle="tab" href="#product-overview">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#product-images">Add Flat</a>
        </li>
      </ul>
    </div>
    <div class="container-fluid">
      <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-overview">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
            *ngIf="buildingDetails?.images.length > 0">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <ng-container *ngFor="let img of buildingDetails?.images; let i = index">
                <div class="carousel-item" *ngIf="img" [ngClass]="{'active': i == 1}">
                  <img style="height: 300px;" [src]=" imageUrl+'/'+img" class="d-block w-100" alt="">
                </div>
              </ng-container>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" data-slide="next">
              <span class="carousel-control-next-icon"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Building Info</h4>
              <div class="table-responsive">
                <table class="product-info-table m-t-20">
                  <tbody>
                    <tr>
                      <td>Under Project:</td>
                      <td class="text-dark font-weight-semibold">{{ buildingDetails?.project.name | titlecase }}</td>
                    </tr>
                    <tr>
                      <td>Floors:</td>
                      <td>{{ buildingDetails?.floors }}</td>
                    </tr>
                    <tr>
                      <td>Current number of Flats:</td>
                      <td>{{ buildingDetails?.property?.length }}</td>
                    </tr>
                    <tr>
                      <td>Planned Flats:</td>
                      <td>{{ buildingDetails?.flats }}</td>
                    </tr>
                    <tr>
                      <td>Service Lift:</td>
                      <td>{{ buildingDetails?.serviceLift ? 'Available' : 'Not Available' }}</td>
                    </tr>
                    <tr>
                      <td>Description:</td>
                      <td>{{ buildingDetails?.description }}</td>
                    </tr>
                    <tr>
                      <td>Published:</td>
                      <td>
                        <span *ngIf="!buildingDetails?.published"
                          class="badge badge-pill badge-danger" (click)="changeStatus(buildingDetails?._id)">Not Published</span>
                        <span *ngIf="buildingDetails?.published"
                          class="badge badge-pill badge-cyan" (click)="changeStatus(buildingDetails?._id)">Published</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4>Available Flats</h4>
              <p>Currently Available flats.</p>
              <div class="m-t-25">
                <table datatable id="data-table" class="table">
                  <thead class="btn-success text-white">
                    <tr>
                      <th>Name/Serial</th>
                      <th>Floor</th>
                      <th>Bedroom/Bathroom/Livingroom</th>
                      <th>Price</th>
                      <th>Booking price</th>
                      <th>Published</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let flat of buildingDetails?.property; let i = index;">
                      <td>{{ flat?.serial | uppercase }}</td>
                      <td>{{ flat?.floor }}</td>
                      <td class="text-center">{{ flat?.bedrooms + ' | ' + flat?.bathrooms + ' | ' + flat?.livingRoom }}
                      </td>
                      <td>{{ flat?.price }}</td>
                      <td>{{ flat?.bookingPrice }}</td>
                      <td>
                        <span (click)="changeStatus(flat?._id, i)" *ngIf="flat?.published" class="badge badge-primary">
                          Published
                        </span>
                        <span (click)="changeStatus(flat?._id, i)" *ngIf="!flat?.published" class="badge badge-danger">
                          Not Published
                        </span>
                      </td>
                      <td>
                        <a [routerLink]="['/buildings/update-flat', flat?._id]" routerLinkActive="router-link-active"
                          class="text text-primary" style="cursor: pointer; display: block;" title="Edit flat"><i
                            class="fa fa-edit"></i></a>
                        <a class="text text-danger" (click)="deleteFlat(flat?._id, i)"
                          style="cursor: pointer; display: block;" title="Delete flat"><i class="fa fa-trash"></i></a>
                        <a class="text text-success" style="cursor: pointer; display: block;" data-toggle="modal"
                          data-target="#exampleModal" title="Make a duplicate" (click)="setFlatForDuplicate(flat)"><i
                            class="fa fa-copy"></i></a>
                      </td>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal">
                        <div class="modal-dialog" style="max-width: 42%;">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Duplicating {{ selectedFlat?.serial }}</h5>
                              <button type="button" class="close" data-dismiss="modal" id="close">
                                <i class="anticon anticon-close"></i>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="form-group row">
                                <input type="text" class="form-control" (change)="setDuplicate($event.target.value)"
                                  placeholder="Enter number of copy you want to create.">
                              </div>

                              <div class="form-group row" *ngFor="let dupli of duplicateArray; let i = index;">
                                <div class="col-md-12 mb-2">
                                  <label for="serial">Enter serial/flat number for {{ i + 1 }} flat.</label>
                                  <input type="text" class="form-control" placeholder="Enter serial/flat number"
                                    [(ngModel)]="data.serial[i]">
                                </div>
                                <div class="col-md-12">
                                  <label for="floor">Enter floor number for {{ i + 1 }} flat.</label>
                                  <input type="number" [max]="buildingDetails?.floors" class="form-control"
                                    placeholder="Enter floor number" [(ngModel)]="data.floor[i]">
                                </div>
                                <hr style="width: 100%; margin-bottom:10px">
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" (click)="submitDuplicate()">Save
                                changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Name/Serial</th>
                      <th>Floor</th>
                      <th>Bedroom/Bathroom/Livingroom</th>
                      <th>Price</th>
                      <th>Booking price</th>
                      <th>Published</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="product-images">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="addFlatForm">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="flat">Flat Serial/No.</label>
                    <input type="text" class="form-control" formControlName="serial" placeholder="Flat number or name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="flat">Description</label>
                    <textarea class="form-control" formControlName="description"
                      placeholder="Flat number or name"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 form-group">
                    <label for="flat">Area sqft</label>
                    <input type="text" class="form-control" formControlName="areaSqft" placeholder="Area of flat">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="flat">Balcony</label>
                    <select formControlName="balcony" class="form-control">
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="floor">Floor</label>
                    <input type="number" class="form-control" formControlName="floor" placeholder="Enter floor number">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-4 form-group">
                    <label for="flat">Bedrooms</label>
                    <input type="number" class="form-control" formControlName="bedrooms" placeholder="Bedrooms">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="flat">Bathrooms</label>
                    <input type="number" class="form-control" formControlName="bathrooms" placeholder="Bathrooms">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="flat">Living Rooms</label>
                    <input type="number" class="form-control" formControlName="livingRoom" placeholder="Living Rooms">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-3 form-group">
                    <label for="price">Flat Price</label>
                    <input type="number" formControlName="price" class="form-control">
                  </div>
                  <div class="col-md-3 form-group">
                    <label for="price">Booking Price</label>
                    <input type="number" formControlName="bookingPrice" class="form-control">
                  </div>
                  <div class="col-md-3 form-group">
                    <label for="possession">Possession status</label>
                    <input type="date" class="form-control" formControlName="possessionStatus">
                  </div>
                  <div class="col-md-3 form-group">
                    <label for="perSqFtPrice">Average per sq ft price</label>
                    <input type="text" class="form-control" formControlName="perSqFtPrice">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 form-group">
                    <label for="project-images">Plan Images</label>
                    <input type="file" id="project-images" class="form-control"
                      (change)="uploadPlanImage(planImageFlat.files)" #planImageFlat>
                    <img *ngIf="planImagePreview" [src]="planImagePreview" alt="" srcset="" style="width: 200px;">
                  </div>

                  <div class="col-md-4 form-group">
                    <label for="project-images">Flat Images</label>
                    <input type="file" id="project-images" class="form-control" multiple
                      (change)="uploadImages(imagesFlat.files)" #imagesFlat>
                    <span *ngIf="imagesPreview.length > 0">
                      <img class="mr-2 mt-2" *ngFor="let img of imagesPreview" [src]="img" alt="" style="width: 200px;">
                    </span>
                  </div>

                  <div class="col-md-4 form-group">
                    <label for="360-images">360 Video</label>
                    <input type="file" id="360-images" class="form-control" multiple
                      (change)="upload360Images(images360.files)" #images360>
                  </div>
                </div>
                <div class="row text-right mt-3">
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit" (click)="addFlat()">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
