.item {
  width: 247.5px;
  /* margin-right: 30px; */
}


.carousel-indicators li {
  background-color: #e4e4e4;
  height: 6px;
  border-radius: 40px;
}


.carousel-indicators .active {
  background-color: #8d8d8d;
}

