<div class="home">
<header>
  <div class="top-bar">
    <div class="container">
      <ul></ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 col-xs-6 col-md-6 col-lg-6 logo-col">
        <div class="row">
          <div class="col-6 col-xs-6 col-md-3 col-lg-3">
            <h1 class="logo">
              <a class="navbar-brand js-scroll-trigger" [routerLink]="['/']" routerLinkActive="router-link-active"  title="Kedia Homes">
                <img src="assets/img/logo.png" alt="Kedia Homes" title="Kedia Homes" />
              </a>
            </h1>
          </div>
          <div class="col-6 col-xs-6 col-md-9 col-lg-9 text-right">
            <ul class="top-menu">
              <li class="home active">
                <a href="#" title="Home"><span>Home</span></a>
              </li>
              <li class="support"><a [routerLink]="[ '/contact' ]" title="support"></a></li>
              <li class="info"><a [routerLink]="['/about']" routerLinkActive="router-link-active"  title="Info"></a></li>
            </ul>
          </div>
        </div>

        <h2>Book Your Dream <br />Home in Just 1 Click</h2>
        <div class="search-box">
          <div class="input-box">
            <ul class="input-list">
              <li>
                <span><img src="assets/img/icon-home.png" alt="Home" style="width: 40px" /></span>Projects
              </li>
              <li>
                <span><img src="assets/img/icon-bhk.png" alt="BHK" style="width: 55px" /></span>BHk
              </li>
              <li>
                <span><img src="assets/img/icon-location.png" alt="Location" style="width: 29px" /></span>Location
              </li>
              <li class="float-right">
                <a href="#" title="Search" class="btn search-btn">Search</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 col-xs-6 col-md-6 col-lg-6">
        <div class="home-slider">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let imageTop of images; let i = index">
              <ng-template carouselSlide [id]="imageTop?._id" *ngIf="imageTop?.type == 'top'">
                <img [src]="imageUrl+'/'+imageTop?.image" alt="Slider" title="Slider" />
              </ng-template>
            </ng-container>
          </owl-carousel-o>
          <!-- <div id="homeSlider" class="carousel slide carousel-fade home-slider" data-ride="carousel">
            <div class="carousel-inner">


              <ng-container >
                <div class="carousel-item" *ngIf="imageTop?.type == 'top'"  [ngClass]="{'active': activeImg == i}">
                  <div class="sliderImg">
                    <img [src]="imageUrl+'/'+imageTop?.image" alt="Slider" title="Slider" style="max-height: 600px;"/>
                  </div>
                </div>
              </ng-container>
            </div>
            <ol class="carousel-indicators">
              <ng-container *ngFor="let imgTop of images; let k = index;">
                <li *ngIf="imgTop?.type == 'top'" [ngClass]="{'active': activeImg == k}" (click)="activeSlider(k)"></li>
              </ng-container>
            </ol>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</header>
<article>

  <div class="section-projects">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link pointer" [ngClass]="{'active': activeImg == 1}"  (click)="activeSlider(1)" data-toggle="tab" role="tab"
            aria-controls="home" aria-selected="true">Villas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [ngClass]="{'active': activeImg == 2}"  (click)="activeSlider(2)" data-toggle="tab"  role="tab"
            aria-controls="profile" aria-selected="false">Flats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [ngClass]="{'active': activeImg == 3}"   (click)="activeSlider(3)" data-toggle="tab"  role="tab"
            aria-controls="contact" aria-selected="false">Plots
          </a>
        </li>
      </ul>
      <div class="tab-content" style="margin-top:8rem">
        <div class="tab-pane fade" [ngClass]="{'show active': activeImg == 1}"   role="tabpanel"  *ngIf="activeImg == 1" >
          <h3>Villas</h3>
          <h5>Explore the ideal new projects in jaipur</h5>
          <div class="home-slider">
            <owl-carousel-o [options]="customOptions2">
              <ng-container *ngFor="let imageTop of newProjects; let i = index">
                <ng-template carouselSlide [id]="imageTop?._id" >
                  <div class="item">
                    <a [routerLink]="['/projects-detail-page/details', imageTop?._id]" routerLinkActive="router-link-active" >
                      <div class="projects-box">
                        <img style="height: 247px;" [src]="imageUrl+'/'+imageTop?.logo[0]" alt="Slider" title="Slider" />
                      </div>
                      <h5>{{ imageTop?.name | titlecase }}</h5>
                      <div class="price">
                        <span class="d-inline-block">Starts From </span>{{ imageTop?.startsFrom }}*
                      </div>
                    </a>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
        <div class="tab-pane fade"  [ngClass]="{'show active': activeImg == 2}"  role="tabpanel" *ngIf="activeImg == 2" >
          <h3>Flats</h3>
          <h5>Explore the ideal new projects in jaipur</h5>
          <div class="home-slider">
            <owl-carousel-o [options]="customOptions2">
              <ng-container *ngFor="let imageTop of bestProjects; let i = index">
                <ng-template carouselSlide [id]="imageTop?._id" >
                  <div class="item">
                    <a [routerLink]="['/projects-detail-page/details', imageTop?._id]" routerLinkActive="router-link-active" >
                      <div class="projects-box">
                        <img style="height: 247px;" [src]="imageUrl+'/'+imageTop?.logo[0]" alt="Slider" title="Slider" />
                      </div>
                      <h5>{{ imageTop?.name | titlecase }}</h5>
                      <div class="price">
                        <span class="d-inline-block">Starts From </span>{{ imageTop?.startsFrom }}*
                      </div>
                    </a>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
         
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active': activeImg == 3}"   role="tabpanel" *ngIf="activeImg == 3" >
          <h3>Plots</h3>
          <h5>Explore the ideal new projects in jaipur</h5>
          <div class="home-slider">
            <owl-carousel-o [options]="customOptions2">
              <ng-container *ngFor="let imageTop of plotsProjects; let i = index">
                <ng-template carouselSlide [id]="imageTop?._id" >
                  <div class="item">
                    <a [routerLink]="['/projects-detail-page/details', imageTop?._id]" routerLinkActive="router-link-active" >
                      <div class="projects-box">
                        <img style="height: 247px;" [src]="imageUrl+'/'+imageTop?.logo[0]" alt="Slider" title="Slider" />
                      </div>
                      <h5>{{ imageTop?.name | titlecase }}</h5>
                      <div class="price">
                        <span class="d-inline-block">Starts From </span>{{ imageTop?.startsFrom }}*
                      </div>
                    </a>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-projects-view">
    <div class="container">
      <h3>Project View</h3>
      <p>Check out the popular locations offering best in class projects</p>

      <div id="gallery">
        <ng-container *ngFor="let midImg of images">
          <div *ngIf="midImg?.type == 'mid'">
            <a style="cursor: pointer;" href="{{ midImg?.projectLink }}" target="_blank"><img [src]="imageUrl +'/'+ midImg?.image" /><span>#{{ midImg?.heading }}</span></a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="section-book-online">
    <div class="container">
      <h2>How to Book Online</h2>
      <p>Please check the complete steps to book your property</p>
      <div class="row book-online-row">
        <div class="col-12 col-xs-6 col-md-6 col-lg-6">
          <ul class="book-online-step">
            <li class="float-left"><span></span>Choice Your Project</li>
            <li><span class="choice-flats"></span>Choice Your Flats /Villas</li>
            <li class="float-right">
              <span class="pay-amount"></span>Pay Minimum Amount
            </li>
          </ul>
        </div>
        <div class="col-12 col-xs-6 col-md-6 col-lg-6 heading-your-property">
          <h2>
            First Time in India Book Your property with live Vacent Software
            <img src="assets/img/heading-img.png" />
          </h2>
        </div>
      </div>
      <div class="book-online-box">
        <ul class="book-online-list">
          <li><span class="laundry"></span>laundry</li>
          <li><span class="shop-commercial"></span>Shop/Commercial</li>
          <li><span class="car-rental"></span>Car Rental</li>
          <li><span class="city-concierge"></span>City Concierge</li>
          <li><span class="baby-sitter"></span>Baby Sitter</li>
          <li><span class="airport-shuttle"></span>Airport Shuttle</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section-property-management">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xs-6 col-md-6 col-lg-6 pr-5">
          <h2>
            <span>Property <br />Management </span> in Jaipur
          </h2>
          <p class="text-property-management">
            kedia omes ..dfofdifngpbvndvpodobmpjo property management company
            that aims to manage and operate holiday homes. For the same reason,
            the company offers various services that are geared towards
            enhancing the living experience.
          </p>
          <ul class="property-management-list">
            <li>
              <span>How to buy best property</span><img src="assets/img/icon-management1.png" />
            </li>
            <li>
              <span>Safety of your home is our priority</span><img src="assets/img/icon-management2.png" />
            </li>
            <li>
              <span>Customer Satisfaction</span><img src="assets/img/icon-management3.png" />
            </li>
            <li class="bg-blue"><span>Know Your Budget project </span></li>
          </ul>
        </div>
        <div class="col-12 col-xs-6 col-md-6 col-lg-6 pt-3">
          <img src="assets/img/img-management.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="section-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xs-6 col-md-7 col-lg-7 pr-0">
          <h4>
            Subscribe to Our Newsletter
            <span>and receive updates and exclusive offers</span>
          </h4>
        </div>
        <div class="col-12 col-xs-6 col-md-5 col-lg-5 pl-0">
          <form>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Enter your email" />
              <span class="input-group-btn">
                <button class="btn" type="submit">Subscribe</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</article>
</div>
