<article>
  <div class="banner-box">
    <img src="../../assets/img/banner-img.jpg" />
    <div class="banner_title_content">
      <div class="banner_title">
        <h1>Booking</h1>
      </div>
    </div>
  </div>
  <div class="section-booking">
    <div class="container">
      <ul class="nav nav-tabs" id="bookingTab" role="tablist" id="menuList" *ngIf="!booked">
        <li class="nav-item">
          <a class="nav-link pl-0" [ngClass]="{'active': activeOpt == 'details'}" id="details-tab" data-toggle="tab" href="#details" role="tab"
            aria-controls="details" aria-selected="true" >Booking Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="personal-tab" [ngClass]="{'active': activeOpt == 'personal'}" data-toggle="tab" href="#personal" role="tab" aria-controls="personal"
            aria-selected="false">Personal Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="payment-tab" [ngClass]="{'active': activeOpt == 'payment'}" data-toggle="tab" href="#payment" role="tab" aria-controls="payment"
            aria-selected="false" >Payment Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-0" id="confirmation-tab" [ngClass]="{'active': activeOpt == 'confirmation'}" data-toggle="tab" href="#confirmation" role="tab"
            aria-controls="confirmation" aria-selected="false">Confirmation</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
          <div class="booking-box">
            <div class="booking-title">
              {{ property?.project?.name }} <span class="booking-price"> ₹ {{ property?.price }}</span>
            </div>
            <div class="row">
              <div class="col-md-7">
                <img [src]="property?.images[0] ? imageUrl +'/'+ property?.images[0] : imageUrl +'/'+ property?.images[1]"> <!-- src="../../assets/img/gallery/detail-img.jpg" -->
                <div class="booking-amount">
                  Min Booking Amount <span>₹ {{ property?.bookingPrice }}</span>
                </div>
              </div>
              <div class="col-md-5 pl-0">
                <h4></h4>
                <ng-container *ngIf="property?.type == 'Flat'; else plotDetails">
                  <ul class="building-list">
                    <li>Building Name: <span>{{ property?.building?.name }}</span></li>
                    <li>Floor No.: <span>{{ property?.floor }} Floor</span></li>
                    <li>Flat No.: <span>{{ property?.serial }} Flat</span></li>
                    <li>BHK: <span>{{ property?.bedrooms +' | '+ property?.livingRoom + ' | ' + property?.bathrooms }}</span></li>
                    <li>Area <span>{{ property?.areaSqft }} sq.ft</span></li>
                  </ul>
                </ng-container>
                <ng-template #plotDetails>
                  <ul class="building-list">
                    <li>Plot Serial: <span>{{ property?.building?.name }}</span></li>
                    <li>Area <span>{{ property?.areaSqft }} sq.ft</span></li>
                  </ul>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="text-center mt-5 mb-4">
            <a  href="#" class="btn text-white" data-toggle="tab" href="#personal" (click)="toggleActive('personal')">proceed to next step</a>
          </div>
        </div>
        <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
          <p class="text-center" *ngIf="user">Please proceed you are already logged in.</p>
          <div class="booking-box p-4" *ngIf="!user">
            <form [formGroup]="personalInfoForm" class="booking-form">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <label>Full Name</label>
                  <input type="text" placeholder="Full Name" formControlName="fullName" class="booking_input">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6 col-md-6">
                  <label>Email</label>
                  <input type="email" placeholder="Email" formControlName="email" class="booking_input">
                </div>
                <div class="col-lg-6 col-md-6">
                  <label>Phone Number</label>
                  <input type="tel" placeholder="Phone Number" formControlName="phone" class="booking_input">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6 col-md-6">
                  <label>Password</label>
                  <input type="password" placeholder="Password" formControlName="password" class="booking_input">
                </div>
                <div class="col-lg-6 col-md-6">
                  <label>Confirm Password</label>
                  <input type="password" placeholder="Confirm Password" formControlName="cnfPassword" class="booking_input">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-12 col-md-12">
                  <label>Upload Pan & Aadhaar</label>
                  <input type="file" formControlName="aadhar" class="booking_input" (change)="uploadImage($event.target.files, 'aadhar')">
                  <img [src]="aadharPreview" alt="" srcset="" *ngIf="aadharPreview" style="width: 200px;">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6 col-md-6">
                  <label>City</label>
                  <input type="text" placeholder="Enter City" name="" class="booking_input" formControlName="city">
                </div>
                <div class="col-lg-6 col-md-6">
                  <label>Pin Code</label>
                  <input type="text" placeholder="Enter Pin Code" name="" class="booking_input" formControlName="isdCode">
                </div>
              </div>
            </form>
          </div>
          <div class="text-center mt-5 mb-4">
            <ng-container *ngIf="!user; else login">
              <button [disabled]="!personalInfoForm.valid"  class="btn text-white" (click)="registerUser()" >Register and Proceed to next step</button>
              <a  class="btn text-white" [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Already registered? Login</a>
              <a href="#payment" class="btn text-white" style="display: none;" id="goToPaymentBtn"></a>
            </ng-container>

            <ng-template #login>
              <a  class="btn text-white" (click)="this.toggleActive('payment');" href="#payment" data-toggle="tab">Proceed to next step</a>
            </ng-template>
          </div>

        </div>
        <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
          <div class="booking-box">
            <div class="booking-title">
              PAYMENT DETAILS
            </div>
            <div class="row">
              <div class="col-12 col-xs-6 col-md-12 col-lg-12">
                <ul class="payment-list">
                  <li><span>Project Name</span>{{ property?.project?.name | titlecase }}</li>
                  <li><span>Building Name</span>{{ property?.building?.name }}</li>
                  <li><span>Booking Price</span>₹ {{ property?.bookingPrice }}</li>
                </ul>
                <p class="text-center"><img [src]="property?.images[0] ? imageUrl +'/'+ property?.images[0] : imageUrl +'/'+ property?.images[1]" style="width: 350px;">
                </p>
              </div>
              <div class="col-12 col-xs-6 col-md-6 col-lg-4"></div>
            </div>
          </div>
          <div class="booking-box mt-5">
            <div class="booking-title">PAYMENT METHOD</div>
            <div class="payment-tab">
              <div class="tab">
                <button class="tablinks" (change)="openPayment('Credit')" id="defaultOpen">Credit
                  Card</button>
                <button class="tablinks" (change)="openPayment('Debit')">Debit Card</button>
                <button class="tablinks" (change)="openPayment('Banking')">Net Banking</button>
                <button class="tablinks" (change)="openPayment('Paypal')">Paypal</button>
              </div>
              <div id="Credit" class="tabcontent" *ngIf="paymentOpt == 'Credit' ">
                <label>Card Holder’s Name (please enter the same name which is written on your
                  card)</label>
                <p><input type="text" placeholder="Name On Card" class="input_card"></p>
                <div class="row">
                  <div class="col-md-7">
                    <label>Credit Card Number</label>
                    <input type="text" placeholder="Name On Card" class="input_credit_card">
                  </div>
                  <div class="col-md-5 pt-4">
                    <a href="#"><img src="../../assets/img/card1.jpg" alt="debit card"></a>
                    <a href="#"><img src="../../assets/img/card2.jpg" alt="debit card"></a>
                    <a href="#"><img src="../../assets/img/card3.jpg" alt="debit card"></a>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="select_tabs col-md-9">
                    <p class="m-0"><label>Expiry Date</label></p>
                    <select style="width: 160px;">
                      <option>month</option>
                      <option>january</option>
                      <option>fabuary</option>
                      <option>march</option>
                      <option>april</option>
                      <option>may</option>
                      <option>june</option>
                      <option>july</option>
                      <option>august</option>
                      <option>september</option>
                      <option>november</option>
                      <option>december</option>
                    </select>
                    <select style="width: 160px; margin-left:10px;">
                      <option>year</option>
                      <option>2010</option>
                      <option>2011</option>
                      <option>2012</option>
                      <option>2013</option>
                      <option>2014</option>
                      <option>2015</option>
                      <option>2018</option>
                    </select>
                  </div>
                  <div class="cvv_input col-md-3">
                    <label>CVV</label>
                    <input type="text" class="cvv">
                  </div>
                </div>
                <div class="checkbox_section mt-3">
                  <div class="checkbox_book">
                    <input id="tabcheck" type="checkbox" name="tabcheck" value="tabcheck">
                    <label for="tabcheck">Yes, I have read and I agree to the booking
                      conditions</label>
                  </div>
                  <!-- <a class="btn text-white mt-3" href="#">proceed payment</a> -->
                </div>
              </div>

              <div id="Debit" class="tabcontent" *ngIf="paymentOpt == 'Debit'">
                <label>Card Holder’s Name (please enter the same name which is written on your
                  card)</label>
                <p><input type="text" placeholder="Name On Card" class="input_card"></p>
                <div class="row">
                  <div class="col-md-7">
                    <label>Debit Card Number</label>
                    <input type="text" placeholder="Name On Card" class="input_credit_card">
                  </div>
                  <div class="col-md-5 pt-4">
                    <a href="#"><img src="../../assets/img/card1.jpg" alt="debit card"></a>
                    <a href="#"><img src="../../assets/img/card2.jpg" alt="debit card"></a>
                    <a href="#"><img src="../../assets/img/card3.jpg" alt="debit card"></a>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="select_tabs col-md-9">
                    <p class="m-0"><label>Expiry Date</label></p>
                    <select style="width: 160px;">
                      <option>month</option>
                      <option>january</option>
                      <option>fabuary</option>
                      <option>march</option>
                      <option>april</option>
                      <option>may</option>
                      <option>june</option>
                      <option>july</option>
                      <option>august</option>
                      <option>september</option>
                      <option>november</option>
                      <option>december</option>
                    </select>
                    <select style="width: 160px; margin-left:10px;">
                      <option>year</option>
                      <option>2010</option>
                      <option>2011</option>
                      <option>2012</option>
                      <option>2013</option>
                      <option>2014</option>
                      <option>2015</option>
                      <option>2018</option>
                    </select>
                  </div>
                  <div class="cvv_input col-md-3">
                    <label>CVV</label>
                    <input type="text" class="cvv">
                  </div>
                </div>
                <div class="checkbox_section mt-3">
                  <div class="checkbox_book">
                    <input id="tabcheck" type="checkbox" name="tabcheck" value="tabcheck">
                    <label for="tabcheck">Yes, I have read and I agree to the booking
                      conditions</label>
                  </div>
                  <!-- <a class="btn text-white mt-3" href="#">proceed payment</a> -->
                </div>
              </div>

              <div id="Banking" class="tabcontent" *ngIf="paymentOpt == 'Banking'">
                <label>Net Banking Holder’s Name (please enter the same name which is written on
                  your
                  card)</label>
                <p><input type="text" placeholder="Name On Card" class="input_card"></p>
                <div class="row">
                  <div class="col-md-7">
                    <label>Net Banking Number</label>
                    <input type="text" placeholder="Name On Card" class="input_credit_card">
                  </div>
                  <div class="col-md-5 pt-4">
                    <a href="#"><img src="../../assets/img/card1.jpg" alt="debit card"></a>
                    <a href="#"><img src="../../assets/img/card2.jpg" alt="debit card"></a>
                    <a href="#"><img src="../../assets/img/card3.jpg" alt="debit card"></a>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="select_tabs col-md-9">
                    <p class="m-0"><label>Expiry Date</label></p>
                    <select style="width: 160px;">
                      <option>month</option>
                      <option>january</option>
                      <option>fabuary</option>
                      <option>march</option>
                      <option>april</option>
                      <option>may</option>
                      <option>june</option>
                      <option>july</option>
                      <option>august</option>
                      <option>september</option>
                      <option>november</option>
                      <option>december</option>
                    </select>
                    <select style="width: 160px; margin-left:10px;">
                      <option>year</option>
                      <option>2010</option>
                      <option>2011</option>
                      <option>2012</option>
                      <option>2013</option>
                      <option>2014</option>
                      <option>2015</option>
                      <option>2018</option>
                    </select>
                  </div>
                  <div class="cvv_input col-md-3">
                    <label>CVV</label>
                    <input type="text" class="cvv">
                  </div>
                </div>
                <div class="checkbox_section mt-3">
                  <div class="checkbox_book">
                    <input id="tabcheck" type="checkbox" name="tabcheck" value="tabcheck">
                    <label for="tabcheck">Yes, I have read and I agree to the booking
                      conditions</label>
                  </div>
                  <!-- <a class="btn text-white mt-3" href="#">proceed payment</a> -->
                </div>
              </div>
              <div id="Paypal" class="tabcontent" *ngIf="paymentOpt == 'Paypal'" >
                <label>Paypal Holder’s Name (please enter the same name which is written on your
                  card)</label>
                <p><input type="text" placeholder="Name On Card" class="input_card"></p>
                <div class="row">
                  <div class="col-md-7">
                    <label>Paypal Number</label>
                    <input type="text" placeholder="Name On Card" class="input_credit_card">
                  </div>
                  <div class="col-md-5 pt-4">
                    <a href="#"><img src="../../assets/img/card1.jpg" alt="debit card"></a>
                    <a href="#"><img src="../../assets/img/card2.jpg" alt="debit card"></a>
                    <a href="#"><img src="../../assets/img/card3.jpg" alt="debit card"></a>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="select_tabs col-md-9">
                    <p class="m-0"><label>Expiry Date</label></p>
                    <select style="width: 160px;">
                      <option>month</option>
                      <option>january</option>
                      <option>fabuary</option>
                      <option>march</option>
                      <option>april</option>
                      <option>may</option>
                      <option>june</option>
                      <option>july</option>
                      <option>august</option>
                      <option>september</option>
                      <option>november</option>
                      <option>december</option>
                    </select>
                    <select style="width: 160px; margin-left:10px;">
                      <option>year</option>
                      <option>2010</option>
                      <option>2011</option>
                      <option>2012</option>
                      <option>2013</option>
                      <option>2014</option>
                      <option>2015</option>
                      <option>2018</option>
                    </select>
                  </div>
                  <div class="cvv_input col-md-3">
                    <label>CVV</label>
                    <input type="text" class="cvv">
                  </div>
                </div>
                <div class="checkbox_section mt-3">
                  <div class="checkbox_book">
                    <input id="tabcheck" type="checkbox" name="tabcheck" value="tabcheck">
                    <label for="tabcheck">Yes, I have read and I agree to the booking
                      conditions</label>
                  </div>
                  <!-- <a class="btn text-white mt-3" href="#">proceed payment</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5 mb-4" *ngIf="user; else plzLogin">
            <a  class="btn text-white" (click)="makePayment()">Make Payment</a>

            <a  data-toggle="tab" href="#confirmation" class="btn text-white" (click)="toggleActive('confirmation')" id="finalStepBtn" style="display: none;">Make Payment</a>
          </div>
          <ng-template #plzLogin>
            <div class="text-center mt-5 mb-4" >
              <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" class="btn text-white">Login</a>
            </div>
          </ng-template>

        </div>
        <div class="tab-pane fade" id="confirmation" role="tabpanel" aria-labelledby="confirmation-tab">
          <p class="text-center"><span class="thank-box">Thank you. Your Booking is Confirmed Now</span></p>
          <div class="booking-box">
            <div class="booking-title">
              PAYMENT DETAILS
            </div>
            <ul class="payment-list">
              <li><span>Project Name</span>{{ property?.project?.name | titlecase }}</li>
              <li *ngIf="property?.type == 'Flat'"><span>Building Name</span>{{ property?.building?.name }}</li>
              <li><span>Booking Date</span>25-11-2020</li>
              <li *ngIf="property?.type == 'Flat'"><span>Floor No.</span>{{ property?.floor }} Floor</li>
              <li><span>Property No.</span>{{ property?.serial }} Flat</li>
              <li><span>Area </span>{{ property?.areaSqft }} sq.ft</li>
            </ul>

            <ul class="payment-list payment-price">
              <li><span>Total Price</span>{{ property?.price }} Lac</li>
              <li><span>Booking Price</span>{{ property?.bookingPrice }} Lac</li>
            </ul>
          </div>
          <div class="booking-box border-0 mt-4">
            <h4>PAYMENT INFORMATION</h4>
            <ul class="paymentinfo_list mb-3">
              <li>You have now confirmed and guaranteed your booking by credit card.</li>
              <li>All payments are to be made at the hotel during your stay, unsess otherwise stated in the hotel
                policies or in the room conditions.</li>
              <li>Please note that your credit card may be pre-authorised prior to your arrival.</li>
            </ul>
            <p class="payment-done">This Package accepts the following forms of payment : <span>Credit Card
                (Visa)</span>
          </div>
          <div class="text-center mt-5 mb-4">
            <a class="" [routerLink]="['/user/bookings']" routerLinkActive="router-link-active"  class="btn text-white">View booking</a>
            <a *ngIf="bookingId" class="" [routerLink]="['/print-invoice', bookingId]" routerLinkActive="router-link-active"  class="btn text-white">Print</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</article>
