<!-- Page Container START -->
<div class="page-container">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="page-header">
      <h2 class="header-title">Update Flat</h2>
      <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
          <a [routerLink]="['/buildings/details', flatDetails?.building?._id]" routerLinkActive="router-link-active"
            class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Building</a>
          <a href="javascript(0)" class="breadcrumb-item">Flat</a>
          <span class="breadcrumb-item active">{{
            flatDetails?.serial | titlecase
          }}</span>
        </nav>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="flatUpdateForm">
          <div class="form-group row">
            <div class="col-md-6">
              <label for="serial">Serial</label>
              <input type="text" class="form-control" id="serial" placeholder="Flat number" formControlName="serial" />
            </div>
            <div class="col-md-6">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description" placeholder="Description"
                formControlName="description" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="bedrooms">Bedrooms</label>
              <input type="text" class="form-control" id="bedrooms" placeholder="Bedrooms" formControlName="bedrooms" />
            </div>
            <div class="col-md-4">
              <label for="bathrooms">Bathrooms</label>
              <input type="text" class="form-control" id="bathrooms" placeholder="Bathrooms"
                formControlName="bathrooms" />
            </div>
            <div class="col-md-4">
              <label for="livingRoom">Living Room</label>
              <input type="text" class="form-control" id="livingRoom" placeholder="Living Rooms"
                formControlName="livingRoom" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="areaSqft">Area in sqft</label>
              <input type="text" class="form-control" id="areaSqft" placeholder="Area in sqft"
                formControlName="areaSqft" />
            </div>
            <div class="col-md-4">
              <label for="balcony">Balcony</label>
              <select formControlName="balcony" id="balcony" class="form-control">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="floor">Floor Number</label>
              <input type="text" class="form-control" id="floor" placeholder="Floor Number" formControlName="floor" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="price">Price</label>
              <input type="text" class="form-control" id="price" placeholder="Price" formControlName="price" />
            </div>
            <div class="col-md-6">
              <label for="bookingPrice">Booking Price</label>
              <input type="text" class="form-control" id="bookingPrice" placeholder="Booking Price"
                formControlName="bookingPrice" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="planImage">Plan Image</label>
              <input type="file" class="form-control" (change)="uploadImage($event.target.files, 'plan')" />
              <div class="row" *ngIf="!planImagePreview">
                <img [src]="imageUrl + '/' + flatPlanImageCurrent" alt="" srcset="" style="width: 150px" class="m-3" />
              </div>
              <div class="row" *ngIf="planImagePreview">
                <img [src]="planImagePreview" alt="" srcset="" style="width: 150px" class="m-3" />
              </div>
            </div>
            <div class="col-md-6">
              <label for="images">Images</label>
              <input type="file" class="form-control" (change)="uploadImage($event.target.files, 'images')" multiple />
              <div class="row" *ngIf="imagesPreview.length == 0">
                <img *ngFor="let img of flatImagesCurrent" [src]="imageUrl + '/' + img" alt="" srcset=""
                  style="width: 150px" class="m-3" />
              </div>
              <div class="row" *ngIf="imagesPreview.length != 0">
                <img *ngFor="let img of imagesPreview" [src]="img" alt="" srcset="" style="width: 150px" class="m-3" />
              </div>
            </div>
            <div class="col-md-6">
              <label for="images">Images</label>
              <input type="file" class="form-control" (change)="uploadImage($event.target.files, '360Image')" />
              <div class="row mt-3 ml-2" *ngIf="images360Current">
                <video controls width="250">
                  <source [src]="imageUrl + '/' + images360Current" type="video/mp4" />
                </video>
              </div>
              <button class="btn btn-primary" [disabled]="!flatUpdateForm.valid" (click)="updateFlat()"
                style="float: right">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
