<article>
  <div class="banner-box">
    <img src="../../assets/img/banner-img.jpg" />
    <div class="banner_title_content">
      <div class="banner_title">
        <h1>About Us</h1>
      </div>
    </div>
  </div>
  <div class="section-aboutus">
    <div class="container">
      <div class="row mt-4 mb-3">
        <div class="col-md-6">
          <div class="about-image">
            <img src="../../assets/img/about-img1.jpg" alt="" class="img-responsive">
            <img src="../../assets/img/about-img2.jpg" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="font-weight-bolder mb-3" style="color: #182878;">Big Things Have Small Beginnings</h1>
          <p>Turning vision into reality Mr. Shiv Kumar Kedia laid the bedrock of Kedia Homes in 1984. With its
            pioneering efforts, the company has come to be one of the preferred names in the housing sector. This family
            managed business house has been a trusted name for over three decades now.</p>
          <p>The integrity of commitment, construction quality, prompt delivery, and security of investment remain the
            guiding principles of this entrusted company. Kedia Homes holds perception as credible as JDA projects in
            the minds of the customers with its exemplary record. All the legal procedures are double-checked by the
            company itself before handing over the property to the customer. Approximately 40% of repeat customers add
            another feather in the companys cap.</p>


        </div>
      </div>
      <p>Kedia Homes embarked its journey as colonizers and made remarkable progress in the field for an extensive
        period of time and later expanded into the sphere of building and construction. With 300 plus townships and
        residential projects, the company has spread its wings to cover a large part of the pink city.</p>
      <p>It briskly moved to be Rajasthans most trusted real estate company with more than 1 lakh delighted and
        satisfied customers. Kedia Homes has developed a platform of trust and faith with its investors. It has also
        benefited from multiple generations of investors.</p>
      <p>Kedia homes believe in keeping pace with the fast-changing technology and using modern present-day equipment. A
        team of qualified professionals ensures to maintain an impeccable standard in designing, architecture and the
        construction of the dreams of its credulous customers.</p>
      <p>The succeeding generation and the Directors Nirmal Kumar Kedia and Nitin Kedia are taking the company to more
        towering heights with their innovative ideas and creative spirit to unlock the requirements of their clients.
      </p>
    </div>
  </div>
  <div class="section-icon section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center bottom-margin">
          <div class="icon-plain-medium gray center"><img src="../../assets/img/icon-world.png" width="80px" /></div>
          <br>
          <h4 class="text-white"> World's largest</h4>
          <p>Lorem Ipsum is simply dummy text of theprinting </p>
        </div>
        <div class="col-md-3 text-center bottom-margin">
          <div class="icon-plain-medium gray center"><img src="../../assets/img/icon-domains.png" width="80px" /></div>
          <br>
          <h4 class="text-white">45 Million property</h4>
          <p>Lorem Ipsum is simply dummy text of theprinting </p>
        </div>
        <div class="col-md-3 text-center bottom-margin">
          <div class="icon-plain-medium gray center"><img src="../../assets/img/icon-customers.png" width="80px" />
          </div>
          <br>
          <h4 class="text-white">10 Million Customers</h4>
          <p>Lorem Ipsum is simply dummy text of theprinting </p>
        </div>
        <div class="col-md-3 text-center bottom-margin">
          <div class="icon-plain-medium gray center"><img src="../../assets/img/icon-support.png" width="80px" /></div>
          <br>
          <h4 class="text-white">24/7 Support</h4>
          <p>Lorem Ipsum is simply dummy text of theprinting </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-team">
    <div class="container">
      <h3 class="text-center">MEET OUR TEAM</h3>
      <p style="max-width: 600px; margin:0px auto; text-align: center;">Lorem ipsum dolor sit amet consectetuer
        adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue</p>
      <div class="row mt-5">
        <div class="col-xl-4 col-md-6">
          <div class="card alert-info">
            <div class="card-body">
              <div class="text-center">
                <img class="img-fluid " src="../../assets/img/user-img.jpg" />
                <h4>Mr. Nirmal Kedia</h4>
                <p>Mr. Nirmal Kumar Kedia tends to the accounting, after-sales services, and ongoing
                  projects with his enterprising persona.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="card alert-info">
            <div class="card-body">
              <div class="text-center">
                <img class="img-fluid " src="../../assets/img/user-img.jpg" />
                <h4>Mr. Nitin Kedia</h4>
                <p>Mr. Nitin Kedia leads the company with all the statutory approval and new product
                  acquisitions with his dynamic approach.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="card alert-info">
            <div class="card-body">
              <div class="text-center">
                <img class="img-fluid " src="../../assets/img/user-img.jpg" />
                <h4>Mr. Sohan Yadav</h4>
                <p>Mr. Sohan Yadav with his vigor and passion has given the company's success a new
                  direction. Being the Business Head of the company,</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
