<!-- Page Container START -->
<div class="page-container">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="media align-items-center">
                  <div class="avatar avatar-image rounded" style="width: 150px; height: 150px;">
                    <img *ngIf="!property?.images[0]" src="assets/images/others/thumb-3.jpg" alt="" />
                    <img *ngIf="property?.images[0]" [src]="imageUrl +'/'+ property?.images[0]" alt="" />
                  </div>
                  <div class="m-l-10">
                    <h4 class="m-b-0">{{ property?.serial | titlecase }}</h4>
                  </div>
                </div>
                <div>
                  <span class="badge badge-pill badge-blue" (click)="changeStatus(property?._id)" *ngIf="property?.published">Published</span>
                  <span class="badge badge-pill badge-danger" (click)="changeStatus(property?._id)" *ngIf="!property?.published">Not Published</span>
                </div>
              </div>
              <div class="m-t-40">
                <h6>Description:</h6>
                <p>
                  {{ property?.description }}
                </p>
              </div>
              <div class="d-md-flex m-t-30 align-items-center justify-content-between">
                <!-- <div class="d-flex align-items-center m-t-10">
                  <span class="text-dark font-weight-semibold m-r-10 m-b-5"
                    >Team:
                  </span>
                  <a
                    class="m-r-5 m-b-5"
                    href="javascript:void(0);"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Erin Gonzales"
                  >
                    <div
                      class="avatar avatar-image"
                      style="width: 30px; height: 30px"
                    >
                      <img src="assets/images/avatars/thumb-1.jpg" alt="" />
                    </div>
                  </a>
                  <a
                    class="m-r-5 m-b-5"
                    href="javascript:void(0);"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Darryl Day"
                  >
                    <div
                      class="avatar avatar-image"
                      style="width: 30px; height: 30px"
                    >
                      <img src="assets/images/avatars/thumb-2.jpg" alt="" />
                    </div>
                  </a>
                  <a
                    class="m-r-5 m-b-5"
                    href="javascript:void(0);"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Marshall Nichols"
                  >
                    <div
                      class="avatar avatar-image"
                      style="width: 30px; height: 30px"
                    >
                      <img src="assets/images/avatars/thumb-3.jpg" alt="" />
                    </div>
                  </a>
                  <a
                    class="m-r-5 m-b-5"
                    href="javascript:void(0);"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Virgil Gonzales"
                  >
                    <div
                      class="avatar avatar-image"
                      style="width: 30px; height: 30px"
                    >
                      <img src="assets/images/avatars/thumb-4.jpg" alt="" />
                    </div>
                  </a>
                  <a
                    class="m-r-5 m-b-5"
                    href="javascript:void(0);"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Riley Newman"
                  >
                    <div
                      class="avatar avatar-image"
                      style="width: 30px; height: 30px"
                    >
                      <img src="assets/images/avatars/thumb-6.jpg" alt="" />
                    </div>
                  </a>
                  <a
                    class="m-r-5 m-b-5"
                    href="javascript:void(0);"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Pamela Wanda"
                  >
                    <div
                      class="avatar avatar-image"
                      style="width: 30px; height: 30px"
                    >
                      <img src="assets/images/avatars/thumb-7.jpg" alt="" />
                    </div>
                  </a>
                </div> -->
                <div class="m-t-10">
                  <span class="font-weight-semibold m-r-10 m-b-5 text-dark">Created Date:
                  </span>
                  <span>{{ property?.createdAt | date:'fullDate' }}</span>
                </div>
              </div>
            </div>
            <div class="m-t-30">
              <ul class="nav nav-tabs ml-4">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#property-details-info">Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#property-details-plan-image">Plan Image</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#property-details-images">Images</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#property-details-images-360">360 Video</a>
                </li>
              </ul>
              <div class="tab-content m-t-15 p-25">
                <div class="tab-pane fade show active" id="property-details-info">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Info</h4>
                      <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                          <tbody>
                            <tr>
                              <td>Serial:</td>
                              <td class="text-dark font-weight-semibold">{{ property?.serial | titlecase }}</td>
                            </tr>
                            <tr>
                              <td>Bedrooms:</td>
                              <td> {{ property?.bedrooms }}</td>
                            </tr>
                            <tr>
                              <td>Bathrooms:</td>
                              <td> {{ property?.bathrooms }}</td>
                            </tr>
                            <tr>
                              <td>Living rooms:</td>
                              <td>{{ property?.livingRoom }}</td>
                            </tr>
                            <tr>
                              <td>Price:</td>
                              <td>{{ property?.price }}</td>
                            </tr>
                            <tr>
                              <td>Booking price:</td>
                              <td>{{ property?.bookingPrice }}</td>
                            </tr>
                            <tr>
                              <td>Published:</td>
                              <td>
                                <span class="badge badge-pill badge-cyan" *ngIf="property?.published">Available</span>
                                <span class="badge badge-pill badge-red" *ngIf="!property?.published">Not Avaialable</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="property-details-plan-image">
                  <div class="row">
                    <img [src]="imageUrl +'/'+ property?.planImage" alt="" srcset="">
                  </div>
                  <div class="container text-center" *ngIf="!property?.planImage">
                    <h5>Plan image not uploaded.</h5>
                  </div>
                </div>
                <div class="tab-pane fade" id="property-details-images">
                  <div class="file" style="min-width: 200px" *ngFor="let img of property?.images">
                    <div class="media align-items-center">
                      <div>
                        <img [src]="imageUrl + '/' + img" alt="" srcset="" style="width: 200px;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="property-details-images-360">
                  <div class="file" style="min-width: 200px;">
                    <div class="media align-items-center">
                      <video width="400" controls>
                        <source [src]="imageUrl + '/' + property?.images360" type="video/mp4">
                        Your browser does not support HTML video.
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
