<!-- Page Container START -->
<div class="page-container">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="page-header no-gutters">
      <div class="row align-items-md-center">
        <div class="col-md-6">
          <div class="container">
            <div class="">
              <div class="input-affix m-v-10">
                <h3>Bookings</h3>
                <i class="prefix-icon anticon anticon-search opacity-04"></i>
                <!-- <input type="text" class="form-control" placeholder="Search Booking" /> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-md-right m-v-10">
            <div class="btn-group m-r-10">
              <button id="list-view-btn" type="button" class="btn btn-default btn-icon active"
                 data-toggle="tooltip" data-placement="bottom" title="List View">
                <i class="anticon anticon-ordered-list"></i>
              </button>
            </div>
            <button style="visibility: hidden;" class="btn btn-primary" data-toggle="modal" data-target="#create-new-booking" id="addProjectBtn">
              <i class="anticon anticon-plus"></i>
              <span class="m-l-5">New Booking</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card" id="list-view" >
        <div class="card-body">
          <div class="table-responsive" style="min-height: 500px">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Property</th>
                  <th>Booking Date</th>
                  <th>Payment Status</th>
                  <th>Booked By</th>
                  <th>Paid Amount</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="bookingsList?.length != 0; else noBooking">
                  <tr *ngFor="let booking of bookingsList; let i = index">
                    <td><b>{{ booking?.ticket }}</b></td>
                    <td>
                      <img [src]="imageUrl +'/'+ booking?.property?.images[0]" alt="" srcset="" style="width: 100px;">
                      <p class="text-primary ml-3 mt-2"><b>{{ booking?.property.serial }}</b></p>
                    </td>
                    <td>
                      <b>{{ booking?.createdOn | date:'mediumDate' }}</b>
                    </td>
                    <td>
                      <span *ngIf="booking?.payment != 'pending'" class="badge badge-primary">Done</span>
                      <span *ngIf="booking?.payment == 'pending'" class="badge badge-danger">Pending</span>
                    </td>
                    <td>
                      <p>
                        {{ booking?.user?.fullName}}
                      </p>
                      <p>
                        {{ booking?.user?.phone }}
                      </p>
                    </td>
                    <td>
                      <b>{{ booking?.paidAmount }}</b>
                    </td>
                    <td>
                      <p><i class="anticon anticon-edit text-primary" ></i></p>
                      <p  data-toggle="modal" data-target="#bookingDetails" (click)="setActiveBooking(booking)"><i class="anticon anticon-eye text-success"></i></p>
                      <p (click)="deleteBooking(booking?._id, i)"><i class="anticon anticon-delete text-danger"></i></p>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noBooking>
                  <tr>
                    <td class="text-center" colspan="7"><b>No bookings available</b></td>
                  </tr>
                </ng-template>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for showing details of booking -->
<div class="modal fade" id="bookingDetails" tabindex="-1" role="dialog" aria-labelledby="bookingDetailsTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Boooking Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h3 style="border-bottom: 1px solid #ccc;">User details</h3>
            <img [src]="imageUrl +'/'+ activeBooking?.user?.aadharCard" alt="" srcset="" style="width: 100%;">
          </div>
          <div class="col-md-6" style="padding-top: 30px;">
            <p>Name: {{ activeBooking?.user?.fullName }}</p>
            <p>Email: {{ activeBooking?.user?.email }}</p>
            <p>Phone: {{ activeBooking?.user?.phone }}</p>
          </div>
        </div>
        <div class="row mt-4 text-center">
          <div class="col-md-12">
            <h3 style="border-bottom: 1px solid #ccc;">Transaction details</h3>
          </div>
          <div class="row">
            <div class="col-md-3"><p><b>Booking Date: </b> {{ activeBooking?.createdOn | date:'mediumDate' }}</p></div>
            <div class="col-md-3"><p><b>Paid Amount: </b> {{ activeBooking?.paidAmount }}</p></div>
            <div class="col-md-3"><p><b>Payment Status: </b> {{ activeBooking?.payment }}</p></div>
            <div class="col-md-3"><p><b>Ticket: </b> {{ activeBooking?.ticket }}</p></div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <h3 style="border-bottom: 1px solid #ccc;">Property details</h3>
            <img [src]="imageUrl +'/'+ activeBooking?.property?.images[0]" alt="" srcset="" style="width: 100%;">
          </div>
          <div class="col-md-6" style="padding-top: 30px;">
            <p>Area: {{ activeBooking?.property?.areaSqft }}</p>
            <p>Description: {{ activeBooking?.property?.description }}</p>
            <ng-container *ngIf="activeBooking?.property?.type == 'Flat'">
              <p>Building: {{ activeBooking?.property?.building?.serial }}</p>
              <p>Bedrooms: {{ activeBooking?.property?.bedrooms }}</p>
              <p>Bathrooms: {{ activeBooking?.property?.bathrooms }}</p>
              <p>Floor: {{ activeBooking?.property?.floor }}</p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="create-new-booking">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{
            !editMode
              ? "Create New Booking"
              : "Edit booking " + addBookingFrom.value.name
          }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" id="closeModal">
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addBookingFrom">
          <div class="container">
            <div class="col-md-12 form-group">
              <label for="new-booking-name">Booking Name</label>
              <input type="text" class="form-control" id="new-booking-name" formControlName="name"
                placeholder="Please enter booking name" />
            </div>
            <div class="col-md-12 form-group">
              <label for="logo">Booking logo</label>
                <input type="file" formControlName="logo" id="logo" class="form-control" (change)="uploadLogo($event.target.files)">
                <img *ngIf="bookingLogoPreview" [src]="bookingLogoPreview" alt="" srcset="" style="width: 250px; margin: 20px;">
            </div>
            <div class="col-md-12 form-group">
              <label for="loanPercent">Loan percantage</label>
              <input type="text" formControlName="loanPercent" id="loanPercent" class="form-control"
                placeholder="Please enter loan percent" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!addBookingFrom.valid" (click)="submitBooking()">
          {{ !editMode ? "Create Booking" : "Update Booking" }}
        </button>
      </div>
    </div>
  </div>
</div> -->
