<!-- Page Container START -->
<div class="page-container">

  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="page-header no-gutters">
      <div class="row align-items-md-center">
        <div class="col-md-6">
          <div class="container">
            <div class="col-md-5">
              <select (change)="selectProject($event.target.value)" class="form-control select-2">
                <option value="">Select project</option>
                  <option *ngFor="let project of projects" [value]="project?._id" >{{ project?.name | titlecase }}
                  </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-md-right m-v-10">
            <!-- <div class="btn-group m-r-10">
              <button id="list-view-btn" type="button" (click)="toggleListGridView()" class="btn btn-default btn-icon"
                [ngClass]="{'active': viewList  }" data-toggle="tooltip" data-placement="bottom" title="List View">
                <i class="anticon anticon-ordered-list"></i>
              </button>
              <button id="card-view-btn" type="button" (click)="toggleListGridView()" class="btn btn-default btn-icon"
                [ngClass]="{'active': !viewList }" data-toggle="tooltip" data-placement="bottom" title="Card View">
                <i class="anticon anticon-appstore"></i>
              </button>
            </div> -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#create-new-property" id="addPropertyBtn"
              (click)="getProjects()">
              <i class="anticon anticon-plus"></i>
              <span class="m-l-5">New Property</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card" id="list-view" *ngIf="viewList">
        <div class="card-body">
          <div class="table-responsive" style="min-height: 500px;">
            <table class="table">
              <thead>
                <tr>
                  <th>Property</th>
                  <th>BHK</th>
                  <th>Floor</th>
                  <th>Description</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="propertiesCount > 0; else noPropertys">
                  <tr *ngFor="let property of properties$ | async">
                    <td>
                      <div class="media align-items-center">
                        <div class="avatar avatar-image rounded">
                          <img [src]="imageUrl + '/' + property?.images[0]" alt="">
                        </div>
                        <div class="m-l-10">
                          <h5 class="m-b-0">{{ property?.name }}</h5>
                        </div>
                      </div>
                    </td>
                    <td>
                      {{ property?.bedrooms + ", " + property?.livingRoom + ", " + property?.bathrooms }}
                    </td>
                    <td>
                      <span class="label label-primary ml-2">{{ property?.floor }}</span>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <p>{{ property?.description }}</p>
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown dropdown-animated scale-left">
                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                          <i class="anticon anticon-ellipsis"></i>
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" [routerLink]="['/properties/property-details', property?._id]" routerLinkActive="router-link-active"  >
                            <i class="anticon anticon-eye"></i>
                            <span class="m-l-10">View</span>
                          </a>
                          <button class="dropdown-item" type="button" (click)="getPropertyForEdit(property?._id)">
                            <i class="anticon anticon-edit"></i>
                            <span class="m-l-10">Edit</span>
                          </button>
                          <button class="dropdown-item" type="button" (click)="deleteProperty(property?._id)">
                            <i class="anticon anticon-delete"></i>
                            <span class="m-l-10">Delete</span>
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noPropertys>
                  <tr>
                    <td colspan="5" class="text-center font-weight-bold">
                      There are no properties!
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="create-new-property">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ !editMode ? "Create New Property" : "Edit property " + addPropertyForm.value.serial | titlecase }}</h5>
            <button type="button" class="close" data-dismiss="modal" id="closeModal">
              <i class="anticon anticon-close"></i>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addPropertyForm">
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="new-property-project">Project</label>
                  <select formControlName="project" id="new-property-project" class="form-control">
                    <option *ngFor="let project of projects" [value]="project?._id">{{ project?.name | titlecase }}
                    </option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="new-property-name">Property Type</label>
                  <select formControlName="type" id="type" class="form-control" #type (change)="propertyType(type)">
                    <option value="Flat">Flat</option>
                    <option value="Plot">Plot</option>
                  </select>
                </div>
              </div>

              <div class="form-group" *ngIf="type.value == 'Flat'">
                <div class="row">
                  <div class="col-md-4">
                    <label for="flatNum">Flat no.</label>
                    <input type="text" formControlName="serial" value="0" id="flatNum" class="form-control"
                      placeholder="Enter flat number.">
                  </div>
                  <div class="col-md-4">
                    <label for="floor">Floor no.</label>
                    <input type="number" formControlName="floor" value="0" id="floor" class="form-control"
                      placeholder="Enter floor number.">
                  </div>
                  <div class="col-md-4">
                    <label for="building">Building </label>
                    <select formControlName="building" id="building" value="0" class="form-control">
                      <option *ngFor="let building of buildings" [value]="building?._id">
                        {{ building?.name | titlecase }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-4">
                  <label for="plotNum">Plot no.</label>
                  <input type="text" formControlName="serial" value="0" id="plotNum" class="form-control"
                    placeholder="Enter plot number.">
                </div>
                <div class="col-md-4">
                  <label for="new-property-areaSqft">Area (sq ft)</label>
                  <input type="text" class="form-control" id="new-property-areaSqft" formControlName="areaSqft"
                    placeholder="Please input property area in sqft.">
                </div>
                <div class="col-md-4">
                  <label for="balcony">Balcony</label>
                  <select formControlName="balcony" id="balcony" class="form-control">
                    <option value="yes">True</option>
                    <option value="no">False</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="new-property-desc">Description</label>
                <textarea id="new-property-desc" class="form-control" formControlName="description"
                  placeholder=""></textarea>
              </div>

              <div class="form-group row">
                  <div class="col-md-4">
                    <label for="bedrooms">Bedrooms</label>
                    <input type="number" formControlName="bedrooms" id="bedrooms"
                      placeholder="Please enter number of rooms." class="form-control">
                  </div>
                  <div class="col-md-4">
                    <label for="bathrooms">Bathrooms</label>
                    <input type="number" formControlName="bathrooms" id="bathrooms"
                      placeholder="Please enter number of bath rooms." class="form-control">
                  </div>
                  <div class="col-md-4">
                    <label for="livingRoom">Living rooms</label>
                    <input type="number" formControlName="livingRoom" id="livingRoom"
                      placeholder="Please enter number of living rooms." class="form-control">
                  </div>
              </div>

              <div class="row">
                <div class="col-md-3 form-group">
                  <label for="price">Plot Price</label>
                  <input type="number" formControlName="price" class="form-control"
                  >
                </div>
                <div class="col-md-3 form-group">
                  <label for="price">Booking Price</label>
                  <input type="number" formControlName="bookingPrice" class="form-control"
                  >
                </div>
                <div class="col-md-3 form-group">
                  <label for="possession">Possession status</label>
                  <input type="date" class="form-control" formControlName="possessionStatus">
                </div>
                <div class="col-md-3 form-group">
                  <label for="perSqFtPrice">Average per sq ft price</label>
                  <input type="text" class="form-control" formControlName="perSqFtPrice">
                </div>
              </div>

              <!-- property images -->
              <div class="form-group">
                <label for="property-images">Property Images</label>
                <input type="file"  id="property-images" class="form-control" multiple (change)="uploadImages(images.files)" #images>
              </div>
              <div class="form-group">
                <div class="row" *ngIf="!editMode">
                  <img *ngFor="let image of previewImages" [src]="image" alt="" srcset="" class=""
                    style="width: 100px; margin: 20px;">
                </div>
                <div class="row" *ngIf="editMode">
                  <img *ngFor="let image of previewImages" [src]="imageUrl +'/'+ image" alt="" srcset="" class=""
                    style="width: 100px; margin: 20px;">
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 form-group">
                  <label for="pln-images">Plan Images</label>
                  <input type="file" id="pln-images" class="form-control"
                    (change)="uploadPlanImage(planImagePlot.files)" #planImagePlot>
                </div>
                <div class="col-md-4 form-group">
                  <label for="project-images">Plot/Property Images</label>
                  <input type="file" id="project-images" class="form-control" multiple
                    (change)="uploadImages(plotImages.files)" #plotImages>
                </div>
                <div class="col-md-4 form-group">
                  <label for="360-images">360 Video</label>
                  <input type="file" id="360-images" class="form-control" multiple
                    (change)="upload360Images(images360.files)" #images360>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="!addPropertyForm.valid"
              (click)="addProperty()">{{ !editMode ? "Create Property" : "Update Property" }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Wrapper END -->

  <!-- Footer START -->
  <footer class="footer">
    <div class="footer-content">
      <p class="m-b-0">Copyright © 2020 Kedia Homes. All rights reserved.</p>
      <span>
        <a href="" class="text-gray m-r-15">Term &amp; Conditions</a>
        <a href="" class="text-gray">Privacy &amp; Policy</a>
      </span>
    </div>
  </footer>
  <!-- Footer END -->

</div>
<!-- Page Container END -->
