<!-- Page Container START -->
<div class="page-container">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="page-header no-gutters">
      <div class="row align-items-md-center">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div class="input-affix m-v-10">
                <i class="prefix-icon anticon anticon-search opacity-04"></i>
                <input type="text" class="form-control" placeholder="Search Bank" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-md-right m-v-10">
            <div class="btn-group m-r-10">
              <button id="list-view-btn" type="button" class="btn btn-default btn-icon active"
                 data-toggle="tooltip" data-placement="bottom" title="List View">
                <i class="anticon anticon-ordered-list"></i>
              </button>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#create-new-bank" id="addProjectBtn">
              <i class="anticon anticon-plus"></i>
              <span class="m-l-5">New Bank</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card" id="list-view" >
        <div class="card-body">
          <div class="table-responsive" style="min-height: 500px">
            <table class="table">
              <thead>
                <tr>
                  <th>Logo</th>
                  <th>Bank Name</th>
                  <th>Status</th>
                  <th>Loan</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bank of banksList; let i = index">
                  <td>
                    <img [src]="imageUrl +'/'+ bank?.logo" alt="" srcset="" style="width: 100px;">
                  </td>
                  <td>
                    <b>{{ bank?.name | titlecase }}</b>
                  </td>
                  <td>
                    <span *ngIf="bank?.status == 'active'" class="badge badge-primary">Active</span>
                    <span *ngIf="bank?.status == 'inactive'" class="badge badge-danger">Inactive</span>
                  </td>
                  <td>
                    <b>{{ bank?.loanPercent }}</b>
                  </td>
                  <td>
                    <p><i class="anticon anticon-edit text-primary" ></i></p>
                    <p (click)="deleteBank(bank?._id, i)"><i class="anticon anticon-delete text-danger"></i></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="create-new-bank">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{
            !editMode
              ? "Create New Bank"
              : "Edit bank " + addBankFrom.value.name
          }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" id="closeModal">
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addBankFrom">
          <div class="container">
            <div class="col-md-12 form-group">
              <label for="new-bank-name">Bank Name</label>
              <input type="text" class="form-control" id="new-bank-name" formControlName="name"
                placeholder="Please enter bank name" />
            </div>
            <div class="col-md-12 form-group">
              <label for="logo">Bank logo</label>
                <input type="file" formControlName="logo" id="logo" class="form-control" (change)="uploadLogo($event.target.files)">
                <img *ngIf="bankLogoPreview" [src]="bankLogoPreview" alt="" srcset="" style="width: 250px; margin: 20px;">
            </div>
            <div class="col-md-12 form-group">
              <label for="loanPercent">Loan percantage</label>
              <input type="text" formControlName="loanPercent" id="loanPercent" class="form-control"
                placeholder="Please enter loan percent" />
            </div>
            <!-- <div class="col-md-12 form-group">
              <label for="status">Status</label>
              <select formControlName="status" id="status" class="form-control">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!addBankFrom.valid" (click)="submitBank()">
          {{ !editMode ? "Create Bank" : "Update Bank" }}
        </button>
      </div>
    </div>
  </div>
</div>
