<div class="invoice-bg">
  <div class="container">
      <div class="box-personal-information">
          <div class="row">
              <div class="col-md-4 col-lg-3 text-center">
                  <h1 class="logo">
                      <a class="navbar-brand js-scroll-trigger" [routerLink]="['/']" routerLinkActive="router-link-active"  title="Ushx">
                          <img src="../../assets/img/logo.png" alt="Kedia Homes" title="Kedia Homes">
                      </a>
                  </h1>
              </div>
              <div class="col-md-8 col-lg-9">
                  <h2><span>Personal information</span></h2>
                  <ul class="invoice-list">
                      <li><span>Full Name</span>: {{ booking?.user?.fullName }}</li>
                      <li><span>Email</span>: {{ booking?.user?.email }}</li>
                      <li><span>Phone Number</span>: {{ booking?.user?.phone }}</li>
                      <li><span>Country</span>: {{ booking?.country }}</li>
                      <li><span>City</span>: {{ booking?.user?.city }}</li>
                      <li><span>Pin Code</span>: {{ booking?.user?.isdCode }}</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="box-property-details">
          <h2 class="mb-3"><span>Property Details</span></h2>
          <ul class="invoice-list">

              <ng-template #plotTemplate>
                <li><span>Plot Serial/No.</span> : {{ booking?.property?.serial }}</li>
                <li><span>Area (in SqFt)</span> : {{ booking?.property?.areaSqft }}</li>
                <li><span>Property Amount</span>: {{ booking?.property?.price }}</li>
                <li><span>Booking Amount</span>: {{ booking?.paidAmount }}</li>
                <li><span>Type</span>: Plot</li>
              </ng-template>

              <ng-container *ngIf="booking?.property?.type == 'Flat'; else plotTemplate">
                <li><span>Building Name</span>: {{ booking?.property?.building?.name }}</li>
                <li><span>Area (in SqFt)</span> : {{ booking?.property?.areaSqft }}</li>
                <li><span>BHK</span>: {{ booking?.property?.bedrooms }} BHK</li>
                <li><span>Floor No.</span>: {{ booking?.property?.bedrooms }}</li>
                <li><span>Flat No.</span>:</li>
                <li><span>Property Amount</span>: {{ booking?.property?.price }}</li>
                <li><span>Booking Amount</span>: {{ booking?.paidAmount }}</li>
                <li><span>Type</span>: Flat</li>
              </ng-container>

          </ul>
      </div>
      <div class="box-payment-info">
        <h3 class="text-center">Payment info</h3>
        <table class="table table-striped  table-bordered">
            <thead>
              <tr>
                <th scope="col">Booking Id</th>
                <th scope="col">Transction Id</th>
                <th scope="col">Paid Amount</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Payment Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>{{ booking?.ticket }}</th>
                <th>CC2001234568ABC</th>
                <td>{{ booking?.paidAmount }}</td>
                <td>{{ booking?.createdOn | date:'mediumDate' }}</td>
                <td>{{ booking?.payment | titlecase}}</td>
              </tr>
            </tbody>
          </table>

    </div>
  </div>
</div>
