/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

textarea.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
  border-color: #be142b;
}

/*
.side-nav .side-nav-inner .side-nav-menu>li.dropdown ul.dropdown-menu>li > a.router-link-active {
  background-color: rgba(63,135,245,0.15);
} */

.side-nav .side-nav-inner .side-nav-menu > li > a.router-link-active {
  background-color: rgba(63, 135, 245, 0.15);
  color: #3f87f5;
  border-right: 2px solid #3f87f5;
}
