<!-- Page Container START -->
<div class="page-container">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="page-header no-gutters">
      <div class="row align-items-md-center">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div class="input-affix m-v-10">
                <i class="prefix-icon anticon anticon-search opacity-04"></i>
                <input type="text" class="form-control" placeholder="Search Project" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-md-right m-v-10">
            <div class="btn-group m-r-10">
              <button id="list-view-btn" type="button" (click)="toggleListGridView()" class="btn btn-default btn-icon"
                [ngClass]="{ active: viewList }" data-toggle="tooltip" data-placement="bottom" title="List View">
                <i class="anticon anticon-ordered-list"></i>
              </button>
              <button id="card-view-btn" type="button" (click)="toggleListGridView()" class="btn btn-default btn-icon"
                [ngClass]="{ active: !viewList }" data-toggle="tooltip" data-placement="bottom" title="Card View">
                <i class="anticon anticon-appstore"></i>
              </button>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#create-new-project" id="addProjectBtn">
              <i class="anticon anticon-plus"></i>
              <span class="m-l-5">New Project</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!-- <div id="card-view" *ngIf="!viewList">
              <div class="row">
                  <div class="col-md-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <div class="media">
                                      <div class="avatar avatar-image rounded">
                                          <img src="assets/images/others/thumb-1.jpg" alt="">
                                      </div>
                                      <div class="m-l-10">
                                          <h5 class="m-b-0">Mind Cog App</h5>
                                          <span class="text-muted font-size-13">31 Tasks</span>
                                      </div>
                                  </div>
                                  <div class="dropdown dropdown-animated scale-left">
                                      <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                          <i class="anticon anticon-ellipsis"></i>
                                      </a>
                                      <div class="dropdown-menu">
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-eye"></i>
                                              <span class="m-l-10">View</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-edit"></i>
                                              <span class="m-l-10">Edit</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-delete"></i>
                                              <span class="m-l-10">Delete</span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                              <p class="m-t-25">European minnow priapumfish mosshead warbonnet shrimpfish.</p>
                              <div class="m-t-30">
                                  <div class="d-flex justify-content-between">
                                      <span class="font-weight-semibold">Progress</span>
                                      <span class="font-weight-semibold">100%</span>
                                  </div>
                                  <div class="progress progress-sm m-t-10">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                                  </div>
                              </div>
                              <div class="m-t-20">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div>
                                          <span class="badge badge-pill badge-cyan">Ready</span>
                                      </div>
                                      <div>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Pamela Wanda">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-7.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Darryl Day">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <div class="media">
                                      <div class="avatar avatar-image rounded">
                                          <img src="assets/images/others/thumb-2.jpg" alt="">
                                      </div>
                                      <div class="m-l-10">
                                          <h5 class="m-b-0">Mill Real Estate</h5>
                                          <span class="text-muted font-size-13">56 Tasks</span>
                                      </div>
                                  </div>
                                  <div class="dropdown dropdown-animated scale-left">
                                      <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                          <i class="anticon anticon-ellipsis"></i>
                                      </a>
                                      <div class="dropdown-menu">
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-eye"></i>
                                              <span class="m-l-10">View</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-edit"></i>
                                              <span class="m-l-10">Edit</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-delete"></i>
                                              <span class="m-l-10">Delete</span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                              <p class="m-t-25">Efficiently unleash cross-media information without cross-media value.</p>
                              <div class="m-t-30">
                                  <div class="d-flex justify-content-between">
                                      <span class="font-weight-semibold">Progress</span>
                                      <span class="font-weight-semibold">100%</span>
                                  </div>
                                  <div class="progress progress-sm m-t-10">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                                  </div>
                              </div>
                              <div class="m-t-20">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div>
                                          <span class="badge badge-pill badge-cyan">Ready</span>
                                      </div>
                                      <div>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Virgil Gonzales">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-4.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Erin Gonzales">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-1.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="2 More">
                                              <div class="avatar avatar-text avatar-sm">
                                                  <span class="text-dark">+2</span>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <div class="media">
                                      <div class="avatar avatar-image rounded">
                                          <img src="assets/images/others/thumb-3.jpg" alt="">
                                      </div>
                                      <div class="m-l-10">
                                          <h5 class="m-b-0">Eastern Sack</h5>
                                          <span class="text-muted font-size-13">21 Tasks</span>
                                      </div>
                                  </div>
                                  <div class="dropdown dropdown-animated scale-left">
                                      <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                          <i class="anticon anticon-ellipsis"></i>
                                      </a>
                                      <div class="dropdown-menu">
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-eye"></i>
                                              <span class="m-l-10">View</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-edit"></i>
                                              <span class="m-l-10">Edit</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-delete"></i>
                                              <span class="m-l-10">Delete</span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                              <p class="m-t-25">Jelly-o sesame snaps halvah croissant oat cake cookie.</p>
                              <div class="m-t-30">
                                  <div class="d-flex justify-content-between">
                                      <span class="font-weight-semibold">Progress</span>
                                      <span class="font-weight-semibold">87%</span>
                                  </div>
                                  <div class="progress progress-sm m-t-10">
                                      <div class="progress-bar" role="progressbar" style="width: 87%"></div>
                                  </div>
                              </div>
                              <div class="m-t-20">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div>
                                          <span class="badge badge-pill badge-blue">In Progress</span>
                                      </div>
                                      <div>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-10.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Victor Terry">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-11.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="3 More">
                                              <div class="avatar avatar-text avatar-sm">
                                                  <span class="text-dark">+3</span>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <div class="media">
                                      <div class="avatar avatar-image rounded">
                                          <img src="assets/images/others/thumb-4.jpg" alt="">
                                      </div>
                                      <div class="m-l-10">
                                          <h5 class="m-b-0">Good Beat</h5>
                                          <span class="text-muted font-size-13">38 Tasks</span>
                                      </div>
                                  </div>
                                  <div class="dropdown dropdown-animated scale-left">
                                      <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                          <i class="anticon anticon-ellipsis"></i>
                                      </a>
                                      <div class="dropdown-menu">
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-eye"></i>
                                              <span class="m-l-10">View</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-edit"></i>
                                              <span class="m-l-10">Edit</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-delete"></i>
                                              <span class="m-l-10">Delete</span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                              <p class="m-t-25">Irish skinny, grinder affogato, dark, sweet carajillo flavour seasonal.</p>
                              <div class="m-t-30">
                                  <div class="d-flex justify-content-between">
                                      <span class="font-weight-semibold">Progress</span>
                                      <span class="font-weight-semibold">73%</span>
                                  </div>
                                  <div class="progress progress-sm m-t-10">
                                      <div class="progress-bar" role="progressbar" style="width: 73%"></div>
                                  </div>
                              </div>
                              <div class="m-t-20">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div>
                                          <span class="badge badge-pill badge-blue">In Progress</span>
                                      </div>
                                      <div>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Marshall Nichols">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-3.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Pamela Wanda">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-7.jpg" alt="">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <div class="media">
                                      <div class="avatar avatar-image rounded">
                                          <img src="assets/images/others/thumb-5.jpg" alt="">
                                      </div>
                                      <div class="m-l-10">
                                          <h5 class="m-b-0">Fortier Studio</h5>
                                          <span class="text-muted font-size-13">68 Tasks</span>
                                      </div>
                                  </div>
                                  <div class="dropdown dropdown-animated scale-left">
                                      <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                          <i class="anticon anticon-ellipsis"></i>
                                      </a>
                                      <div class="dropdown-menu">
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-eye"></i>
                                              <span class="m-l-10">View</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-edit"></i>
                                              <span class="m-l-10">Edit</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-delete"></i>
                                              <span class="m-l-10">Delete</span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                              <p class="m-t-25">Let us wax poetic about the beauty of the cheeseburger.</p>
                              <div class="m-t-30">
                                  <div class="d-flex justify-content-between">
                                      <span class="font-weight-semibold">Progress</span>
                                      <span class="font-weight-semibold">73%</span>
                                  </div>
                                  <div class="progress progress-sm m-t-10">
                                      <div class="progress-bar" role="progressbar" style="width: 73%"></div>
                                  </div>
                              </div>
                              <div class="m-t-20">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div>
                                          <span class="badge badge-pill badge-blue">In Progress</span>
                                      </div>
                                      <div>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Erin Gonzales">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-1.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-10.jpg" alt="">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <div class="media">
                                      <div class="avatar avatar-image rounded">
                                          <img src="assets/images/others/thumb-6.jpg" alt="">
                                      </div>
                                      <div class="m-l-10">
                                          <h5 class="m-b-0">Indi Wheel Web</h5>
                                          <span class="text-muted font-size-13">68 Tasks</span>
                                      </div>
                                  </div>
                                  <div class="dropdown dropdown-animated scale-left">
                                      <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                          <i class="anticon anticon-ellipsis"></i>
                                      </a>
                                      <div class="dropdown-menu">
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-eye"></i>
                                              <span class="m-l-10">View</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-edit"></i>
                                              <span class="m-l-10">Edit</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-delete"></i>
                                              <span class="m-l-10">Delete</span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                              <p class="m-t-25">Here's the story of a man named Brady who was busy with three boys</p>
                              <div class="m-t-30">
                                  <div class="d-flex justify-content-between">
                                      <span class="font-weight-semibold">Progress</span>
                                      <span class="font-weight-semibold">62%</span>
                                  </div>
                                  <div class="progress progress-sm m-t-10">
                                      <div class="progress-bar" role="progressbar" style="width: 62%"></div>
                                  </div>
                              </div>
                              <div class="m-t-20">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div>
                                          <span class="badge badge-pill badge-blue">In Progress</span>
                                      </div>
                                      <div>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Virgil Gonzales">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-4.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Darryl Day">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="2 More">
                                              <div class="avatar avatar-text avatar-sm">
                                                  <span class="text-dark">+2</span>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <div class="media">
                                      <div class="avatar avatar-image rounded">
                                          <img src="assets/images/others/thumb-7.jpg" alt="">
                                      </div>
                                      <div class="m-l-10">
                                          <h5 class="m-b-0">Austin Lab</h5>
                                          <span class="text-muted font-size-13">90 Tasks</span>
                                      </div>
                                  </div>
                                  <div class="dropdown dropdown-animated scale-left">
                                      <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                          <i class="anticon anticon-ellipsis"></i>
                                      </a>
                                      <div class="dropdown-menu">
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-eye"></i>
                                              <span class="m-l-10">View</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-edit"></i>
                                              <span class="m-l-10">Edit</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-delete"></i>
                                              <span class="m-l-10">Delete</span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                              <p class="m-t-25">Caerphilly swiss fromage frais. Brie cheese and wine fromage.</p>
                              <div class="m-t-30">
                                  <div class="d-flex justify-content-between">
                                      <span class="font-weight-semibold">Progress</span>
                                      <span class="font-weight-semibold">62%</span>
                                  </div>
                                  <div class="progress progress-sm m-t-10">
                                      <div class="progress-bar" role="progressbar" style="width: 62%"></div>
                                  </div>
                              </div>
                              <div class="m-t-20">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div>
                                          <span class="badge badge-pill badge-blue">In Progress</span>
                                      </div>
                                      <div>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Victor Terry">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-9.jpg" alt="">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <div class="media">
                                      <div class="avatar avatar-image rounded">
                                          <img src="assets/images/others/thumb-8.jpg" alt="">
                                      </div>
                                      <div class="m-l-10">
                                          <h5 class="m-b-0">Moody Agency</h5>
                                          <span class="text-muted font-size-13">165 Tasks</span>
                                      </div>
                                  </div>
                                  <div class="dropdown dropdown-animated scale-left">
                                      <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                          <i class="anticon anticon-ellipsis"></i>
                                      </a>
                                      <div class="dropdown-menu">
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-eye"></i>
                                              <span class="m-l-10">View</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-edit"></i>
                                              <span class="m-l-10">Edit</span>
                                          </button>
                                          <button class="dropdown-item" type="button">
                                              <i class="anticon anticon-delete"></i>
                                              <span class="m-l-10">Delete</span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                              <p class="m-t-25">Do you see any Teletubbies in here? The path of the righteous.</p>
                              <div class="m-t-30">
                                  <div class="d-flex justify-content-between">
                                      <span class="font-weight-semibold">Behind</span>
                                      <span class="font-weight-semibold">28%</span>
                                  </div>
                                  <div class="progress progress-sm m-t-10">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 28%"></div>
                                  </div>
                              </div>
                              <div class="m-t-20">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div>
                                          <span class="badge badge-pill badge-red">In Progress</span>
                                      </div>
                                      <div>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Darryl Day">
                                              <div class="avatar avatar-image avatar-sm">
                                                  <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                              </div>
                                          </a>
                                          <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="3 More">
                                              <div class="avatar avatar-text avatar-sm">
                                                  <span class="text-dark">+3</span>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->
      <div class="card" id="list-view" *ngIf="viewList">
        <div class="card-body">
          <div class="table-responsive" style="min-height: 500px">
            <table class="table">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Amenities</th>
                  <th>Location</th>
                  <th>Buildings</th>
                  <th>Plots</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="projectsCount > 0; else noProjects">
                  <tr *ngFor="let project of projects$ | async">
                    <td>
                      <div style="cursor: pointer" class="media align-items-center" (click)="projectDetails(project?._id)">
                        <div class="avatar avatar-image rounded">
                          <img [src]="imageUrl + '/' + project?.images[0]" alt="" />
                        </div>
                        <div class="m-l-10">
                          <h5 class="m-b-0" title="View project">{{ project?.name }}</h5>
                        </div>
                      </div>
                    </td>
                    <td style="display: inline-block; width: 250px">
                      <span *ngFor="let ame of project?.amenities" class="label label-primary mr-1">{{ ame?.name }}</span>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <div>
                          {{
                            project?.address +
                              ", " +
                              project?.city +
                              ", " +
                              project?.country | titlecase
                          }}
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <p>{{ project?.numberOfBuildings }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <p>{{ project?.numberOfHouses }}</p>
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown dropdown-animated scale-left">
                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                          <i class="anticon anticon-ellipsis"></i>
                        </a>
                        <div class="dropdown-menu">
                          <button class="dropdown-item" type="button" (click)="projectDetails(project?._id)">
                            <i class="anticon anticon-eye"></i>
                            <span class="m-l-10">View</span>
                          </button>
                          <button class="dropdown-item" type="button" (click)="getProjectForEdit(project?._id)">
                            <i class="anticon anticon-edit"></i>
                            <span class="m-l-10">Edit</span>
                          </button>
                          <button class="dropdown-item" type="button" (click)="deleteProject(project?._id)">
                            <i class="anticon anticon-delete"></i>
                            <span class="m-l-10">Delete</span>
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noProjects>
                  <tr>
                    <td colspan="5" class="text-center font-weight-bold">
                      There are no projects!
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="create-new-project">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              {{
                !editMode
                  ? "Create New Project"
                  : "Edit project " + addProjectForm.value.name
              }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" id="closeModal">
              <i class="anticon anticon-close"></i>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addProjectForm">
              <div class="row mb-3 section-block">
                <div class="col-md-12">
                  <h3>Section 1</h3>
                </div>
                <div class="col-md-3 form-group">
                  <label for="new-project-name">Project</label>
                  <input type="text" class="form-control" id="new-project-name" formControlName="name"
                    placeholder="Please input project name" />
                </div>
                <div class="col-md-3 form-group">
                  <label for="address">Address</label>
                  <input type="text" formControlName="address" id="address" class="form-control"
                    placeholder="Please enter address" />
                </div>
                <div class="col-md-3 form-group">
                  <label for="state">State</label>
                  <input type="text" formControlName="state" id="state" class="form-control"
                    placeholder="Please enter state" />
                </div>
                <div class="col-md-3 form-group">
                  <label for="city">City</label>
                  <input type="text" formControlName="city" id="city" class="form-control"
                    placeholder="Please enter city" />
                </div>
                <div class="col-md-6 mt-3">
                  <label for="project-images">Project Images <span class="text text-danger">(Image with resolution 263 x 263 or above allowed.)</span></label>
                  <input type="file" formControlName="images" id="project-images" class="form-control" multiple
                    (change)="uploadImages(images.files, 'images')" #images />
                  <p class="text text-info">Current size width:<span id="widthProject"></span>px and height: <span id="heightProject"></span> px </p>
                  <div class="form-group">
                    <div class="row 1" *ngIf="!editMode">
                      <img *ngFor="let image of previewImages" [src]="image" alt="" srcset="" class=""
                        style="width: 100px; margin: 20px" />
                    </div>

                    <!-- images coming from server -->
                    <div class="row 2" *ngIf="editMode && uploadedPreviewImages?.length > 0">
                      <span *ngFor="let image of uploadedPreviewImages; let i = index" style="position: relative">
                        <i class="fa fa-times-circle text-danger" style="position: absolute; top: 13px; right: 13px"
                          (click)="removeImage(i)"></i>
                        <img [src]="imageUrl + '/' + image" alt="" srcset="" class=""
                          style="width: 100px; margin: 20px" />
                      </span>
                    </div>

                    <!-- showing preview  -->
                    <div class="row 3" *ngIf="editMode">
                      <span *ngFor="let image of previewImages; let i = index" style="position: relative">
                        <i class="fa fa-times-circle text-danger" style="position: absolute; top: 13px; right: 13px"
                          (click)="removeImage(i)"></i>
                        <img [src]="image" alt="" srcset="" class="" style="width: 100px; margin: 20px" />
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-3">
                  <label for="project-logo">Project Logo <span class="text text-danger">(Logo with resolution 263 x 263 or above allowed.)</span></label>
                  <input type="file" formControlName="logo" id="project-logo" class="form-control"
                    (change)="uploadImages(logo.files, 'logo')" #logo />
                  <p class="text text-info">Current size width:<span id="widthLogo"></span>px and height: <span id="heightLogo"></span> px </p>
                  <div class="form-group">
                    <img [src]="projectLogo[1]" alt="" srcset="" style="width: 100px; margin: 20px">
                    <span *ngIf="editMode">
                      <img [src]="imageUrl +'/'+ projectLogo[1]" alt="" srcset="" style="width: 100px; margin: 20px">
                    </span>
                  </div>
                </div>
              </div>
              <div class="row mb-3 section-block">
                <div class="col-md-12">
                  <h3>Section 2</h3>
                </div>
                <div class="col-md-3">
                  <label for="avgPrice">Configurations</label>
                  <input type="text" formControlName="typesOfFlats" class="form-control" placeholder="Enter available flat summary.">
                </div>
                <div class="col-md-3">
                  <label for="launchDate">Launch Date</label>
                  <input type="date" class="form-control" placeholder="Select launch date" formControlName="launchDate">
                </div>
                <div class="col-md-3">
                  <label for="avgPrice">Avg price</label>
                  <input type="text" formControlName="avgPrice" class="form-control" placeholder="Enter average price in project.">
                </div>
                <div class="col-md-3">
                  <label for="area">Area of Project (ex. 898.00 sq.ft. - 1396.00 sq.ft.)</label>
                  <input type="text" class="form-control" placeholder="Enter the area of project"
                    formControlName="area">
                </div>
              </div>
              <div class="row mb-3 section-block">
                <div class="col-md-12">
                  <h3>Section 3 (Overview)</h3>
                </div>
                <div class="col-md-4 form-group">
                  <label for="num-of-buildings">Number of buildings</label>
                  <input type="number" class="form-control" id="num-of-buildings" formControlName="numberOfBuildings"
                    placeholder="Please input number of buildings." />
                </div>
                <div class="col-md-4 form-group">
                  <label for="num-of-plots">Number of plots</label>
                  <input type="number" class="form-control" id="num-of-plots" formControlName="numberOfHouses"
                    placeholder="Please input number of plots." />
                </div>
                <div class="col-md-4">
                  <label for="reraId">Rera ID</label>
                  <input type="text" class="form-control" placeholder="Enter rera Id" formControlName="reraId">
                </div>
                <div class="col-md-12 form-group">
                  <label for="new-project-desc">Description of Project (optional)</label>
                  <textarea id="new-project-desc" class="form-control" formControlName="description"
                    placeholder=""></textarea>
                </div>
              </div>
              <div class="form-group row mb-3 section-block">
                <div class="col-md-12">
                  <h3>Section 4 (Amenities, Floorings, Fittings and Walls)</h3>
                </div>
                <div class="col-md-6 form-group">
                  <label for="new-project-amenities">Amenities (multiple)</label>
                  <select type="text" class="form-control" id="new-project-amenities" formControlName="amenities"
                    placeholder="Please input project amenities" multiple>
                    <option *ngFor="let amenity of amenities" [value]="amenity?._id">{{ amenity?.name | titlecase }}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="floorings">Floorings (comma seperated)</label>
                  <textarea formControlName="floorings" id="floorings" cols="30" rows="2"
                    class="form-control"></textarea>
                </div>
                <div class="col-md-6">
                  <label for="fittings">Fittings (comma seperated)</label>
                  <textarea formControlName="fittings" id="fittings" cols="30" rows="2" class="form-control"></textarea>
                </div>
                <div class="col-md-6">
                  <label for="walls">Walls (comma seperated)</label>
                  <textarea formControlName="walls" id="walls" cols="30" rows="2" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group row mb-3 section-block">
                <div class="col-md-12">
                  <h3>Section 5 (Key Features & Why Invest)</h3>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="keyfeature">Key feature (comma seperated)</label>
                  <textarea formControlName="keyfeatures" id="keyfeatures" cols="30" rows="2"
                    class="form-control"></textarea>
                </div>
                <div class="col-md-12">
                  <label for="whyInvest">Why invest (comma seperated)</label>
                  <textarea formControlName="whyInvest" cols="30" rows="2" class="form-control"></textarea>
                </div>
              </div>

              <div class="form-group row mb-3 section-block">
                <div class="col-md-12">
                  <h3>Section 6 (Loan & Downloadables)</h3>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="bank-details">Select banks for loan</label>
                  <select formControlName="bankDetails" class="form-control" multiple>
                    <option *ngFor="let bank of banksList" [value]="bank?._id">{{ bank?.name }}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="planMap">Plan Image</label>
                  <input type="file" class="form-control" (change)="uploadImages(planImg.files, 'plan')" id="" #planImg>
                </div>
                <div class="col-md-6">
                  <label for="planMap">Broucher</label>
                  <input type="file" class="form-control" (change)="uploadImages(broucher.files, 'broucher')" id=""
                    #broucher>
                </div>
              </div>
              <div class="form-group row mb-3 section-block">
                <div class="col-md-12">
                  <h3>Section 7 (Project Category & Starting)</h3>
                </div>
                <div class="col-md-6">
                  <label for="bank-details">Select project category</label>
                  <select formControlName="category" class="form-control">
                    <option value="new">New</option>
                    <option value="Villas">Villas</option>
                    <option value="Flats">Flats</option>
                    <option value="Plots">Plots</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="startsFrom">Starting price</label>
                  <input type="text" class="form-control" placeholder="Enter starting price"
                    formControlName="startsFrom">
                </div>
              </div>
              <div class="form-group row mb-3 section-block-bhk">
                <div class="col-md-12">
                  <h3>Availablity</h3>
                </div>
                <ng-container *ngFor="let bhk of bhkArray; let k = index;" style="border: 1px solid #000;">
                  <div class="col-md-5 mt-5" style="display: flex; justify-content: space-between; width: 325px;">
                    <label for="bhk" style="width:150px">Enter BHK </label>
                    <input type="text" class="form-control" placeholder="Enter BHK" [(ngModel)]="bhkArray[k].name"
                      [ngModelOptions]="{standalone: true}">
                    <button style=" height: 30px; width: 45px; margin-top: 6px;" class="btn btn-primary btn-sm ml-2"
                      (click)="addBhk('add')">+</button>
                    <button *ngIf="bhkArray?.length > 1" style=" height: 30px; width: 45px; margin-top: 6px;"
                      class="btn btn-danger btn-sm ml-2" (click)="addBhk('remove', k)">x</button>
                  </div>
                  <span *ngFor="let opt of bhk.options; let i = index" class="row mt-3">
                    <div class="col-md-2 offset-1 pr-0">
                      <label for="sqfts">Enter sq fts </label>
                      <input type="text" class="form-control" placeholder="Enter sq fts"
                        [(ngModel)]="bhkArray[k].options[i].size" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-2">
                      <label for="price">Price </label>
                      <input type="text" class="form-control" placeholder="Enter price"
                        [(ngModel)]="bhkArray[k].options[i].price" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-3">
                      <label for="images">Images</label>
                      <input type="file" class="form-control" id="images" (change)="configImg(k,i, $event.target.files)"
                        [(ngModel)]="bhkArray[k].options[i].image" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-3">
                      <label for="builtuparea">Built up area </label>
                      <input type="text" class="form-control" placeholder="Built up area"
                        [(ngModel)]="bhkArray[k].options[i].builtUpArea" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-1" *ngIf="bhk?.options?.length > 1">
                      <button style="margin-top: 31px;" class="btn btn-danger btn-sm"
                        (click)="addOptions('remove', i)">x</button>
                    </div>
                  </span>
                  <div class="ml-2">
                    <button class="btn btn-primary btn-sm mt-5" (click)="addOptions('add',k)">+</button>
                  </div>
                </ng-container>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="!addProjectForm.valid" (click)="addProject()">
              {{ !editMode ? "Create Project" : "Update Project" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Wrapper END -->

  <!-- Footer START -->
  <footer class="footer">
    <div class="footer-content">
      <p class="m-b-0">Copyright © 2020 Kedia Homes. All rights reserved.</p>
      <span>
        <a href="" class="text-gray m-r-15">Term &amp; Conditions</a>
        <a href="" class="text-gray">Privacy &amp; Policy</a>
      </span>
    </div>
  </footer>
  <!-- Footer END -->
</div>
<!-- Page Container END -->
