.label {
  display: inline;
  padding: 2px 6px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  font-size: 11px;
}

.label-primary {
  background-color: #337ab7;
}

.form-control {
  border-color: #d4d4d4;
}

@media (min-width: 576px) {
  .modal-dialog {
    width: 90%;
  }
}

.section-block {
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  padding-top: 15px;
  margin-top: 10px;
  padding: 30px;
  margin: 5px;
}


.section-block-bhk {
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  padding-top: 15px;
  margin-top: 10px;
  padding: 20px;
  margin: 5px;
}
