<article>
  <div class="banner-box">
    <img src="../../assets/img/banner-img.jpg" />
    <div class="banner_title_content">
      <div class="banner_title">
        <h1>FAQ</h1>
      </div>
    </div>
  </div>
  <div class="section-faq faq-box">
    <div class="container">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <a class="btn-link" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              What does the term 'Leasehold Property' mean?
            </a>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
            data-parent="#accordion">
            <div class="card-body">
              When a piece of property is given or 'leased' to an individual (knon as the 'Lessee') for a stipulated period of time, by the owner of the property (known as the 'Lessor'), the property is referred to as Leasehold Property. A certain amount is fixed by the Lessor to be paid as lease premium and annual lease. The land ownership rights remain with the Lessor. Transfer of property requires prior permission.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              What is the difference between carpet area, built-up and super built-up area?
            </a>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
            data-parent="#accordion">
            <div class="card-body">
              The area of an apartment or building, not inclusive of the area of the walls is known as carpet area. This is the area that is actually used and in which a carpet can be laid. When the area of the walls including the balcony is calculated along with the carpet area, it is known as built-up area. The built-up area along with the area under common spaces like lobby, lifts, stairs, garden and swimming pool is called super built-up area.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <a class="btn-link collapsed" data-toggle="collapse"
              data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree">
              Do NRI's require permission of Reserve Bank to acquire immovable property in India?
            </a>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
            data-parent="#accordion">
            <div class="card-body">
              No NRI's do not require any permission to acquire any immovable property in India other than agricultural / plantation property or a farm house.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <a class="btn-link collapsed" data-toggle="collapse"
              data-target="#collapseFour" aria-expanded="false"
              aria-controls="collapseFour">
              Do NRI's require permission of Reserve Bank to transfer immovable property in India?
            </a>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
            data-parent="#accordion">
            <div class="card-body">
              No NRI's do not require any permission to transfer any immovable property in India. Permission is required only in the case of transferring of agricultural or plantation property or farm house to another citizen of India NRI or PIO.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <a class="btn-link collapsed" data-toggle="collapse"
              data-target="#collapseFive" aria-expanded="false"
              aria-controls="collapseFive">
              Do PIO's require permission of Reserve Bank to purchase immovable property in India for their residential use?
            </a>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
            data-parent="#accordion">
            <div class="card-body">
              Reserve Bank has granted general permission to foreign citizens of Indian origin, whether resident in India or abroad, to purchase immovable property other than agricultural land/farm house/plantation property, in India. They are, therefore, not required to obtain separate permission of Reserve Bank or file any declaration.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
