<article>
  <div class="banner-box">
    <img src="../../assets/img/banner-img.jpg" />
    <div class="banner_title_content">
      <div class="banner_title">
        <h1>Projects</h1>
      </div>
    </div>
  </div>
  <div class="section-search-property">
    <div class="container">
      <div class="tabs">
        <input type="radio" name="tabs" id="tab1"  [(ngModel)]="activeTab" [checked]="activeTab == 'all'" value="all">
        <label for="tab1">
          <span>All Projects</span>
        </label>

        <input type="radio" name="tabs" id="tab2"  [(ngModel)]="activeTab" [checked]="activeTab == 'new'" value="new">
        <label for="tab2" id="new-projects">
          <span>New Projects</span>
        </label>

        <input type="radio" name="tabs" id="tab3"  [(ngModel)]="activeTab" [checked]="activeTab == 'best'" value="best">
        <label for="tab3">
          <span>Best Projects</span>
        </label>

        <div id="tab-content1" class="tab-content" *ngIf="activeTab == 'all'">
          <h3>All Projects</h3>
          <div class="row">
            <div class="col-12 col-xs-6 col-md-8 col-lg-8">
              <div class="row">
                <div class="col-xl-6" *ngFor="let project of projectsAll">
                  <div class="card">
                    <div class="card-body">
                      <div class="property-img">
                        <a (click)="gotopage(project)"  title=""><img [src]="imageUrl +'/'+project?.images[0]"></a>
                        <div class="card-header">
                          <span class="price">₹ {{ project?.property?.price }} </span>
                          <span class="sq-price">₹ {{ project?.avgPrice || 'N.A'  }} </span>
                        </div>
                      </div>
                      <div class="card-footer">
                        <h4 class="font-weight-bold">{{ project?.name }}</h4>
                        <p><i class="fas fa-map-marker-alt"></i> {{ project?.address +' ' + project?.city + ' ' + project?.country }} </p>
                        <ul class="card-list">
                          <li>Project Size: {{ project?.numberOfBuildings }} Buildings </li> <!-- - 264 units -->
                          <li>Project Area: {{ project?.area }}</li>
                          <li>Launch Date: {{ project?.launchDate }}</li>
                          <li>Rera Id: {{ project?.reraId }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xs-6 col-md-4 col-lg-4 tab-contant">
              <div class="contact-form" id="form">
                <h4 class="text-center pb-2">Contact Us Now</h4>
                <p class="text-center">Please share your contact</p>
                <p><input name="name" required="" type="text" value="" placeholder="Name"></p>
                <p><input name="phone" type="tel" maxlength="10" value="" placeholder="Phone"></p>
                <p><input name="email" required="" type="email" value="" placeholder="Email"></p>
                <p class="mb-0">You are looking for</p>
                <div class="options-wrap">
                  <div class="option">2 BHK</div>
                  <div class="option">3 BHK</div>
                  <div class="option">Other</div>
                </div>
                <!-- <div class="form-group">
                    <div class="custom-control custom-checkbox checkbox-primary">
                      <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                      <label class="custom-control-label" for="checkbox-signin">Allow other agents to get
                        in touch</label>
                    </div>
                  </div> -->
                <!-- <div class="form-group">
                    <div class="custom-control custom-checkbox checkbox-primary">
                      <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                      <label class="custom-control-label" for="checkbox-signin">I accept <a href="#">I am
                          interested in Home Loans</a></label>
                    </div>
                  </div> -->
                <p><a class="btn">Submit</a></p>
              </div>
            </div>
          </div>
        </div> <!-- #tab-content1 -->

        <div id="tab-content2" class="tab-content" *ngIf="activeTab == 'new'">
          <h3>New Projects</h3>
          <div class="row">
            <div class="col-12 col-xs-6 col-md-8 col-lg-8">
              <div class="row">
                <div class="col-xl-6" *ngFor="let project of projectNew">
                  <div class="card">
                    <div class="card-body">
                      <div class="property-img">
                        <a [routerLink]="['/projects-detail-page', project?._id]" routerLinkActive="router-link-active"  title=""><img [src]="imageUrl +'/'+project?.images[0]"></a>
                        <div class="card-header">
                          <span class="price">₹ {{ project?.property?.price }} </span>
                          <span class="sq-price">₹ {{ project?.avgPrice || 'N.A'  }} </span>
                        </div>
                      </div>
                      <div class="card-footer">
                        <h4 class="font-weight-bold">{{ project?.name }}</h4>
                        <p><i class="fas fa-map-marker-alt"></i> {{ project?.address +' ' + project?.city + ' ' + project?.country }} </p>
                        <ul class="card-list">
                          <li>Project Size: {{ project?.numberOfBuildings }} Buildings </li> <!-- - 264 units -->
                          <li>Project Area: {{ project?.area }}</li>
                          <li>Launch Date: {{ project?.launchDate }}</li>
                          <li>Rera Id: {{ project?.reraId }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xs-6 col-md-4 col-lg-4 tab-contant">
              <div class="contact-form">
                <h4 class="text-center pb-2">Contact Us Now</h4>
                <p class="text-center">Please share your contact</p>
                <p><input name="name" required="" type="text" value="" placeholder="Name"></p>
                <p><input name="phone" type="tel" maxlength="10" value="" placeholder="Phone"></p>
                <p><input name="email" required="" type="email" value="" placeholder="Email"></p>
                <p class="mb-0">You are looking for</p>
                <div class="options-wrap">
                  <div class="option">2 BHK</div>
                  <div class="option">3 BHK</div>
                  <div class="option">Other</div>
                </div>
                <!-- <div class="form-group">
                    <div class="custom-control custom-checkbox checkbox-primary">
                      <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                      <label class="custom-control-label" for="checkbox-signin">Allow other agents to get
                        in touch</label>
                    </div>
                  </div> -->
                <!-- <div class="form-group">
                    <div class="custom-control custom-checkbox checkbox-primary">
                      <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                      <label class="custom-control-label" for="checkbox-signin">I accept <a href="#">I am
                          interested in Home Loans</a></label>
                    </div>
                  </div> -->
                <p><a class="btn">Submit</a></p>
              </div>
            </div>
          </div>
        </div> <!-- #tab-content2 -->
        <div id="tab-content3" class="tab-content" *ngIf="activeTab == 'best'">
          <h3>Best Projects</h3>
          <div class="row">
            <div class="col-12 col-xs-6 col-md-8 col-lg-8">
              <div class="row">
                <div class="col-xl-6" *ngFor="let project of projectBest">
                  <div class="card">
                    <div class="card-body">
                      <div class="property-img">
                        <a [routerLink]="['/projects-detail-page', project?._id]" routerLinkActive="router-link-active"  title=""><img [src]="imageUrl +'/'+project?.images[0]"></a>
                        <div class="card-header">
                          <span class="price">₹ {{ project?.property?.price }} </span>
                          <span class="sq-price">₹ {{ project?.avgPrice || 'N.A'  }} </span>
                        </div>
                      </div>
                      <div class="card-footer">
                        <h4 class="font-weight-bold">{{ project?.name }}</h4>
                        <p><i class="fas fa-map-marker-alt"></i> {{ project?.address +' ' + project?.city + ' ' + project?.country }} </p>
                        <ul class="card-list">
                          <li>Project Size: {{ project?.numberOfBuildings }} Buildings </li> <!-- - 264 units -->
                          <li>Project Area: {{ project?.area }}</li>
                          <li>Launch Date: {{ project?.launchDate }}</li>
                          <li>Rera Id: {{ project?.reraId }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xs-6 col-md-4 col-lg-4 tab-contant">
              <div class="contact-form">
                <h4 class="text-center pb-2">Contact Us Now</h4>
                <p class="text-center">Please share your contact</p>
                <p><input name="name" required="" type="text" value="" placeholder="Name"></p>
                <p><input name="phone" type="tel" maxlength="10" value="" placeholder="Phone"></p>
                <p><input name="email" required="" type="email" value="" placeholder="Email"></p>
                <p class="mb-0">You are looking for</p>
                <div class="options-wrap">
                  <div class="option">2 BHK</div>
                  <div class="option">3 BHK</div>
                  <div class="option">Other</div>
                </div>
                <!-- <div class="form-group">
                    <div class="custom-control custom-checkbox checkbox-primary">
                      <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                      <label class="custom-control-label" for="checkbox-signin">Allow other agents to get
                        in touch</label>
                    </div>
                  </div> -->
                <!-- <div class="form-group">
                    <div class="custom-control custom-checkbox checkbox-primary">
                      <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                      <label class="custom-control-label" for="checkbox-signin">I accept <a href="#">I am
                          interested in Home Loans</a></label>
                    </div>
                  </div> -->
                <p><a class="btn">Submit</a></p>
              </div>
            </div>
          </div>
        </div> <!-- #tab-content3 -->

      </div> <!-- .tabs -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
          </li>
        </ul>
        </nav>
    </div>
  </div>
</article>
