.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  /* font-size: 75%; */
  /* font-weight: 700; */
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label-primary {
  background-color: #337ab7;
}

.avatar {
  width: 100px;
  height: 75px;
}

.nav-item {
  display: inline-block;
}

.modal-dialog {
  max-width: 85%;
}

.dropdown.dropdown-animated.scale-left {
  float: right;
}

.anticon.anticon-ellipsis {
  font-size: 25px;
}

span {
  cursor: pointer;
}
