<!-- Page Container START -->
<div class="page-container">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="media align-items-center">
                  <div class="avatar avatar-image rounded">
                    <img [src]="imageUrl+'/'+project?.logo" alt="" />
                  </div>
                  <div class="m-l-10">
                    <h4 class="m-b-0">{{ project?.name }}</h4>
                  </div>
                </div>
                <div>
                  <span (click)="changeStatus(project?._id)" *ngIf="project?.published" class="badge badge-pill badge-blue">Published</span>
                  <span (click)="changeStatus(project?._id)" *ngIf="!project?.published" class="badge badge-pill badge-red" >Not published</span>
                </div>
              </div>
              <div class="m-t-40">
                <h6>Description:</h6>
                <p>
                  {{ project?.description }}
                </p>
              </div>
              <div class="d-md-flex m-t-30 align-items-center justify-content-between">
                <div class="d-flex align-items-center m-t-10">
                  <span class="text-dark font-weight-semibold m-r-10 m-b-5">Amenities:
                  </span>
                  <span *ngFor="let ame of project?.amenities" class="m-r-5 m-b-5 label label-primary ml-2"
                    href="javascript:void(0);" data-toggle="tooltip" [title]="ame">
                    {{ ame?.name }}
                  </span>
                </div>
                <div class="m-t-10">
                  <span class="font-weight-semibold m-r-10 m-b-5 text-dark">Planned Buildings:
                  </span>
                  <span>{{ project?.numberOfBuildings }}</span>
                </div>
                <div class="m-t-10">
                  <span class="font-weight-semibold m-r-10 m-b-5 text-dark">Planned Plots:
                  </span>
                  <span>{{ project?.numberOfHouses }}</span>
                </div>
              </div>
            </div>
            <div class="m-t-30">
              <ul class="nav nav-tabs" style="display: block;">
                <li class="nav-item">
                  <a class="nav-link active" (click)="getBuildings()" data-toggle="tab"
                    href="#project-details-buildings">Buildings ({{buildings?.length}})</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="getPlots()" data-toggle="tab"
                    href="#project-details-plots">Plots({{ plots?.length }})</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#project-details-attachment">Attachment</a>
                </li>
                <li class="nav-item" style="float: right; margin-right: 20px;">
                  <span class="btn btn-primary" data-toggle="modal" data-target="#create-new-building-plot"
                    id="addBuildingProj"><i class="fa fa-plus"></i> Add New</span>
                </li>
              </ul>
              <div class="tab-content m-t-15 p-25">
                <div class="tab-pane fade show active" id="project-details-buildings">
                  <ul class="list-group list-group-flush">
                    <li *ngFor="let building of buildings; let i = index" class="list-group-item p-h-0">
                      <div class="media m-b-15">
                        <div class="avatar avatar-image">
                          <img
                            [src]="building?.images[0] ? imageUrl +'/'+ building?.images[0] : imageUrl +'/'+ building?.images[1]" />
                        </div>
                        <div class="media-body m-l-20">
                          <h6 class="m-b-0">
                            <a href="" class="text-dark">{{ building?.name }}</a>
                          </h6>
                          <span class="font-size-13 text-gray">{{ building?.createdAt | date:"fullDate"}}</span>
                          <div class="dropdown dropdown-animated scale-left">
                            <a href="javascript:void(0);" data-toggle="dropdown" class="text-gray font-size-18"
                              aria-expanded="false"><i class="anticon anticon-ellipsis"></i>
                            </a>
                            <div class="dropdown-menu" x-placement="bottom-start"
                              style="position: absolute; transform: translate3d(-152px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                              <a type="button" class="dropdown-item"
                                [routerLink]="['/buildings/details', building?._id]"
                                routerLinkActive="router-link-active">
                                <i class="anticon anticon-eye"></i>
                                <span class="m-l-10">View</span>
                              </a>
                              <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal"
                                title="Make a duplicate" (click)="setBuilding(building)">
                                <i class="anticon  anticon-copy"></i>
                                <span class="m-l-10">Duplicate</span>
                              </a>
                              <button class="dropdown-item" type="button" (click)="getBuildingForEdit(building._id)">
                                <i class="anticon anticon-edit"></i>
                                <span class="m-l-10">Edit</span>
                              </button>
                              <button type="button" class="dropdown-item" (click)="deleteBuilding(building?._id, i)">
                                <i class="anticon anticon-delete"></i>
                                <span class="m-l-10">Delete</span>
                              </button>
                            </div>
                            <!-- Modal for duplicating building -->
                            <div class="modal fade" id="exampleModal">
                              <div class="modal-dialog" style="max-width: 42%;">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Duplicating
                                      {{ selectedBuilding?.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" id="close">
                                      <i class="anticon anticon-close"></i>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="form-group row">
                                      <input type="text" class="form-control"
                                        (change)="setDuplicate($event.target.value)"
                                        placeholder="Enter number of copy you want to create.">
                                    </div>

                                    <div class="form-group row" *ngFor="let dupli of duplicateArray; let i = index;">
                                      <div class="col-md-12 mb-2">
                                        <label for="serial">Enter name of building {{ i + 1 }}.</label>
                                        <input type="text" class="form-control" placeholder="Enter building name"
                                          [(ngModel)]="data.buildingName[i]">
                                      </div>
                                      <hr style="width: 100%; margin-bottom:10px">
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" (click)="submitDuplicate()">Save
                                      changes</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p>
                        {{ building?.description }}
                      </p>
                      <div class="row">
                        <div class="col-md-3">
                          <p>
                            <b>Flats:</b> {{ building?.flats }}
                          </p>
                        </div>
                        <div class="col-md-3">
                          <p>
                            <b>Floors:</b> {{ building?.floors }}
                          </p>
                        </div>
                        <div class="col-md-3">
                          <p>
                            <b>Lifts: </b>{{building?.lifts}}
                          </p>
                        </div>
                        <div class="col-md-3">
                          <p>
                            <b>Service Lifts: </b>{{ building?.serviceLift }}
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="project-details-plots">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-h-0" *ngFor="let plot of plots; let p = index">
                      <div class="media m-b-15">
                        <div class="avatar avatar-image">
                          <img
                            [src]=" plot?.images[0] ? imageUrl + '/' + plot?.images[0] : 'assets/images/avatars/thumb-8.jpg'"
                            alt="" />
                        </div>
                        <div class="media-body m-l-20">
                          <h6 class="m-b-0">
                            <a href="" class="text-dark">{{ plot?.serial | titlecase }}</a>
                          </h6>
                          <span class="font-size-13 text-gray">{{ plot?.createdAt | date:'fullDate' }}</span>
                          <div class="dropdown dropdown-animated scale-left">
                            <a href="javascript:void(0);" data-toggle="dropdown" class="text-gray font-size-18"
                              aria-expanded="false"><i class="anticon anticon-ellipsis"></i>
                            </a>
                            <div class="dropdown-menu" x-placement="bottom-start"
                              style="position: absolute; transform: translate3d(-152px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                              <a type="button" class="dropdown-item" [routerLink]="['/properties/property-details', plot?._id]"
                                routerLinkActive="router-link-active">
                                <i class="anticon anticon-eye"></i>
                                <span class="m-l-10">View</span>
                              </a>
                              <a type="button" class="dropdown-item" data-toggle="modal"
                                data-target="#duplicatePlotModal" title="Make a duplicate" (click)="setPlot(plot)">
                                <i class="anticon  anticon-copy"></i>
                                <span class="m-l-10">Duplicate</span>
                              </a>
                              <button type="button" class="dropdown-item" (click)="deletePlot(plot?._id, p)">
                                <i class="anticon anticon-delete"></i>
                                <span class="m-l-10">Delete</span>
                              </button>
                            </div>
                            <!-- Modal for duplicating plot -->
                            <div class="modal fade" id="duplicatePlotModal">
                              <div class="modal-dialog" style="max-width: 42%;">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="duplicatePlotModalLabel">Duplicating
                                      {{ selectedPlot?.serial }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" id="closeDupliPlot">
                                      <i class="anticon anticon-close"></i>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="form-group row">
                                      <input type="text" class="form-control"
                                        (change)="setDuplicate($event.target.value)"
                                        placeholder="Enter number of copy you want to create.">
                                    </div>

                                    <div class="form-group row" *ngFor="let dupli of duplicateArray; let i = index;">
                                      <div class="col-md-12 mb-2">
                                        <label for="serial">Enter name of serial/plot number {{ i + 1 }}.</label>
                                        <input type="text" class="form-control" placeholder="Enter plot serial"
                                          [(ngModel)]="plotData.serial[i]">
                                      </div>
                                      <hr style="width: 100%; margin-bottom:10px">
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" (click)="submitDuplicatePlots()">Save
                                      changes</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p>
                        {{ plot?.description }}
                      </p>
                    </li>
                    <li class="list-group-item p-h-0" *ngIf="plots.length == 0;">
                      <p>No plots found.</p>
                    </li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="project-details-attachment">
                  <div class="file" style="max-width: 200px" *ngFor="let image of project?.images">
                    <div class="media align-items-center">
                      <img [src]="imageUrl+'/'+image" alt="" srcset="" style="max-width: 100%; max-height: 250px;">
                    </div>
                  </div>
                </div>
              </div>

              <!-- For creating New building or plot in the project -->
              <div class="modal fade" id="create-new-building-plot">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">
                        Create New Buildings/Plots for {{ project?.name | titlecase}}</h5>
                      <button type="button" class="close" data-dismiss="modal" id="closeModal">
                        <i class="anticon anticon-close"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="row" *ngIf="addType != 'flat'">
                          <div class="col-md-12 form-group">
                            <label for="new-project-name">Add type</label>
                            <select [(ngModel)]="addType" id="addType" [ngModelOptions]="{standalone: true}"
                              class="form-control">
                              <option value="Building">Building</option>
                              <option value="Plot">Plot</option>
                            </select>
                          </div>
                        </div>
                        <!-- If user want to add a plot  -->
                        <span *ngIf="addType == 'Plot'">

                          <div class="row">
                            <div class="col-md-6 form-group">
                              <label for="plot">Plot Serial/Name</label>
                              <input type="text" class="form-control" [(ngModel)]="plotDetails.serial"
                                placeholder="Plot number or name" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-3 form-group">
                              <label for="plot">Area sqft</label>
                              <input type="text" class="form-control" [(ngModel)]="plotDetails.areaSqft"
                                placeholder="Area of plot" [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="plot">Description</label>
                              <textarea class="form-control" [(ngModel)]="plotDetails.description"
                                placeholder="Plot number or name" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                          </div>

                          <!-- <div class="row">
                            <div class="col-md-4 form-group">
                              <label for="plot">Bedrooms</label>
                              <input type="number" class="form-control" [(ngModel)]="plotDetails.bedrooms"
                                placeholder="Bedrooms" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-4 form-group">
                              <label for="plot">Bathrooms</label>
                              <input type="number" class="form-control" [(ngModel)]="plotDetails.bathrooms"
                                placeholder="Bathrooms" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-4 form-group">
                              <label for="plot">Living Rooms</label>
                              <input type="number" class="form-control" [(ngModel)]="plotDetails.livingRoom"
                                placeholder="Living Rooms" [ngModelOptions]="{standalone: true}">
                            </div>
                          </div> -->
                          <div class="row">
                            <div class="col-md-3 form-group">
                              <label for="price">Plot Price</label>
                              <input type="number" [(ngModel)]="plotDetails.price" class="form-control"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-3 form-group">
                              <label for="price">Booking Price</label>
                              <input type="number" [(ngModel)]="plotDetails.bookingPrice" class="form-control"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-3 form-group">
                              <label for="possession">Possession status</label>
                              <input type="date" class="form-control" [(ngModel)]="plotDetails.possessionStatus" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-3 form-group">
                              <label for="perSqFtPrice">Average per sq ft price</label>
                              <input type="text" class="form-control" [(ngModel)]="plotDetails.perSqFtPrice" [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>


                          <div class="row">
                            <div class="col-md-4 form-group">
                              <label for="pln-images">Plan Images</label>
                              <input type="file" id="pln-images" class="form-control"
                                (change)="uploadPlanImage(planImagePlot.files)" #planImagePlot>
                            </div>
                            <div class="col-md-4 form-group">
                              <label for="project-images">Plot/Property Images</label>
                              <input type="file" id="project-images" class="form-control" multiple
                                (change)="uploadImages(plotImages.files)" #plotImages>
                            </div>
                            <div class="col-md-4 form-group">
                              <label for="360-images">360 Video</label>
                              <input type="file" id="360-images" class="form-control" multiple
                                (change)="upload360Images(images360.files)" #images360>
                            </div>
                          </div>
                        </span>
                        <!-- ------------------- -->

                        <!-- If user want to add a building -->
                        <span *ngIf="addType == 'Building'">
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="building-name">Name of building</label>
                              <input type="text" class="form-control" [(ngModel)]="building.name" id="building-name"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="building-description">Description of building</label>
                              <input type="text" class="form-control" [(ngModel)]="building.description"
                                id="building-description" [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="new-project-number">Floors.</label>
                              <input type="number" class="form-control" [(ngModel)]="building.floors"
                                placeholder="Number of floors" [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="new-project-number">Total number of flats in building.</label>
                              <input type="number" class="form-control" [(ngModel)]="building.flats"
                                placeholder="Total number of {{addType}}" [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="building-lifts">Number of Lifts</label>
                              <input type="number" class="form-control" [(ngModel)]="building.lifts" id="building-lifts"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="building-serviceLift">Service lift</label>
                              <select class="form-control" id="building-serviceLift" [(ngModel)]="building.serviceLift"
                                [ngModelOptions]="{standalone: true}">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="project-images">Building Images</label>
                              <input type="file" id="project-images" class="form-control" multiple
                                (change)="uploadImages(buildingImages.files)" #buildingImages>
                              <span *ngIf="editBuilding">
                                <p class="mt-5">Current Images:</p>
                                <img *ngFor="let img of building.images" [src]="imageUrl +'/'+ img" alt="" srcset=""
                                  class="m-3" style="width: 200px;">
                              </span>
                            </div>
                          </div>

                          <!-- setting project id for adding building -->
                          <input type="hidden" [value]="project?._id" [(ngModel)]="building.project"
                            [ngModelOptions]="{standalone: true}">
                        </span>

                        <!-- After adding building -> Form to add flats in building -->
                        <span *ngIf="addFlats">
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <h3>Add flat to building</h3>
                              <label for="flat">Flat Serial/No.</label>
                              <input type="text" class="form-control" [(ngModel)]="flatDetails.serial"
                                placeholder="flat number or name" [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="flat">Description</label>
                              <textarea class="form-control" [(ngModel)]="flatDetails.description"
                                placeholder="flat number or name" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 form-group">
                              <label for="flat">Floor</label>
                              <input type="text" class="form-control" [(ngModel)]="flatDetails.floor"
                                placeholder="Floor number" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-6 form-group">
                              <label for="flat">Area sqft</label>
                              <input type="text" class="form-control" [(ngModel)]="flatDetails.areaSqft"
                                placeholder="Area of flat" [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4 form-group">
                              <label for="flat">Bedrooms</label>
                              <input type="number" class="form-control" [(ngModel)]="flatDetails.bedrooms"
                                placeholder="Bedrooms" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-4 form-group">
                              <label for="flat">Bathrooms</label>
                              <input type="number" class="form-control" [(ngModel)]="flatDetails.bathrooms"
                                placeholder="Bathrooms" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-4 form-group">
                              <label for="flat">Living Rooms</label>
                              <input type="number" class="form-control" [(ngModel)]="flatDetails.livingRoom"
                                placeholder="Living Rooms" [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="flat">Balcony</label>
                              <select [(ngModel)]="flatDetails.balcony" class="form-control"
                                [ngModelOptions]="{standalone: true}">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 form-group">
                              <label for="price">Flat Price</label>
                              <input type="number" [(ngModel)]="flatDetails.price" class="form-control"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-6 form-group">
                              <label for="price">Booking Price</label>
                              <input type="number" [(ngModel)]="flatDetails.bookingPrice" class="form-control"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="project-images">Plan Images</label>
                              <input type="file" id="project-images" class="form-control"
                                (change)="uploadPlanImage(planImageFlat.files)" #planImageFlat>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="project-images">Flat Images</label>
                              <input type="file" id="project-images" class="form-control" multiple
                                (change)="uploadImages(imagesFlat.files)" #imagesFlat>
                            </div>
                          </div>
                        </span>
                      </form>

                    </div>
                    <div class="modal-footer">
                      <!-- adding either building or plot -->
                      <button class="btn btn-primary" *ngIf="addType == 'Plot' || addType == 'Building'"
                        (click)="addEntity()">Submit</button>

                      <!-- button for submitting flat -->
                      <button class="btn btn-primary" *ngIf="addType == 'flat'" (click)="submitFlat()">Submit</button>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Wrapper END -->

  <!-- Footer START -->
  <footer class="footer">
    <div class="footer-content">
      <p class="m-b-0">Copyright © 2020 Numeroeins. All rights reserved.</p>
      <span>
        <a href="" class="text-gray m-r-15">Term &amp; Conditions</a>
        <a href="" class="text-gray">Privacy &amp; Policy</a>
      </span>
    </div>
  </footer>
  <!-- Footer END -->
</div>
<!-- Page Container END -->
