<!-- Page Container START -->
<div class="page-container">
  <!-- Content Wrapper START -->
  <div class="main-content">
    <div class="page-header no-gutters">
      <div class="row align-items-md-center">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div class="input-affix m-v-10">
                <i class="prefix-icon anticon anticon-search opacity-04"></i>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search Amenity"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-md-right m-v-10">
            <div class="btn-group m-r-10">
              <button
                id="list-view-btn"
                type="button"
                class="btn btn-default btn-icon active"
                data-toggle="tooltip"
                data-placement="bottom"
                title="List View"
              >
                <i class="anticon anticon-ordered-list"></i>
              </button>
            </div>
            <button
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#create-new-amenity"
              id="addProjectBtn"
            >
              <i class="anticon anticon-plus"></i>
              <span class="m-l-5">New Amenitiy</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card" id="list-view">
        <div class="card-body">
          <div class="table-responsive" style="min-height: 500px">
            <table class="table">
              <thead>
                <tr>
                  <th>Icon</th>
                  <th>Amenity Name</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="amenityList?.length > 0; else noAmenities">
                  <tr *ngFor="let amenity of amenityList; let i = index">
                    <td>
                      <img
                        [src]="imageUrl + '/' + amenity?.logo"
                        alt=""
                        srcset=""
                        style="width: 100px"
                      />
                    </td>
                    <td>
                      <b>{{ amenity?.name | titlecase }}</b>
                    </td>
                    <td>
                      <span
                        *ngIf="amenity?.status == 'active'"
                        class="badge badge-primary"
                        >Active</span
                      >
                      <span
                        *ngIf="amenity?.status == 'inactive'"
                        class="badge badge-danger"
                        >Inactive</span
                      >
                    </td>
                    <td>
                      <p><i class="anticon anticon-edit text-primary"></i></p>
                      <p (click)="deleteAmenity(amenity?._id, i)">
                        <i class="anticon anticon-delete text-danger"></i>
                      </p>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noAmenities>
                  <tr>
                    <td colspan="4" class="text-center">
                      No amenities found at the moment.
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="create-new-amenity">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{
            !editMode
              ? "Create New Amenity"
              : "Edit amenity " + addAmenityFrom.value.name
          }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          id="closeModal"
        >
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addAmenityFrom">
          <div class="container">
            <div class="col-md-12 form-group">
              <label for="new-amenity-name">Amenity Name</label>
              <input
                type="text"
                class="form-control"
                id="new-amenity-name"
                formControlName="name"
                placeholder="Please enter amenity name"
              />
            </div>
            <div class="col-md-12 form-group">
              <label for="logo"
                >Amenity logo (<span class="text text-danger"
                  >Image should be of 100px * 100px</span
                >)</label
              >
              <input
                type="file"
                formControlName="logo"
                id="logo"
                class="form-control"
                (change)="uploadLogo($event.target.files)"
              />
              <img
                *ngIf="amenityLogoPreview"
                [src]="amenityLogoPreview"
                alt=""
                srcset=""
                style="width: 250px; margin: 20px"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!addAmenityFrom.valid"
          (click)="submitAmenity()"
        >
          {{ !editMode ? "Create Amenity" : "Update Amenity" }}
        </button>
      </div>
    </div>
  </div>
</div>
