<app-header *ngIf="!(

  location == '/auth/login' ||
  location == '/auth/register' ||
  location.includes('print-invoice')

)"></app-header>

<router-outlet></router-outlet>

<app-footer *ngIf="!(

  location == '/auth/login' ||
  location == '/auth/register' ||
  location.includes('print-invoice')

)"></app-footer>
