<!DOCTYPE html>
<html id="login-page1">
<body>
  <div class="login-bg registration-page">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="text-center mb-4 mt-3">
                <a href="index.html">
                  <span><img src="img/logo.png" alt="" height="100px" /></span>
                </a>
              </div>
              <h4 class="text-center">Registration To Continue</h4>
              <form [formGroup]="registrationForm" class="p-2 mt-3">
                <div class="form-group">
                  <label for="username">Full Name</label>
                  <input class="form-control" type="text" id="username" formControlName="fullName" placeholder="Michael Zenaty" />
                </div>
                <div class="form-group">
                  <label for="emailaddress">Email address</label>
                  <input class="form-control" type="email" id="emailaddress" formControlName="email" placeholder="abc@gmail.com" />
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="number" class="form-control" formControlName="phone" placeholder="9874586214">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input class="form-control" type="password"  id="password"
                    placeholder="Enter your password" formControlName="password"/>
                </div>
                <div class="form-group">
                  <label for="password">Confirm Password</label>
                  <input class="form-control" type="password"  id="confirm-password"
                    placeholder="Confirm your password" formControlName="cnfPassword"/>
                </div>
                <div class="form-group mb-4 pb-3">
                  <div class="custom-control custom-checkbox checkbox-primary">
                    <input type="checkbox" class="custom-control-input" id="checkbox-signin" formControlName="consent"/>
                    <label class="custom-control-label" for="checkbox-signin">I accept <a href="#">Terms and
                        Conditions</a></label>
                  </div>
                </div>
                <div class="mb-3 text-center">
                  <button class="btn btn-primary btn-block" type="submit" (click)="submitRegistration()">
                    Sign Up
                  </button>
                </div>
              </form>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card -->

          <div class="row mt-4">
            <div class="col-sm-12 text-center">
              <p class="text-white mb-0">
                Already have an account?
                <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active"  class="text-white ml-1"><b>Sign In</b></a>
              </p>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
    </div>
  </div>
</body>

</html>
