<article>
  <div class="banner-box">
    <img src="../../assets/img/banner-img.jpg" />
    <div class="banner_title_content">
      <div class="banner_title">
        <h1>Your Bookings</h1>
      </div>
    </div>
  </div>
  <div class="section-booking">
    <div class="container">
      <div class="your-booking" *ngFor="let booking of bookings">
        <div class="booking-box">
          <div class="booking-title">
            {{ booking?.property?.project?.name | titlecase }} <span class="booking-price"> ₹ {{ booking?.property?.price }}</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img [src]="imageUrl +'/'+ booking?.property?.images[0]" style="height: 100%; width: 100%;">
              <!-- <div class="booking-amount">
                Min Amount <span></span>
              </div> -->
            </div>
            <div class="col-md-6 pl-0">
              <ul class="payment-list">
                <li><span>Project Name</span>{{ booking?.property?.project?.name | titlecase }}</li>
                <li *ngIf="booking?.property?.type == 'Flat'"><span> Building Name </span>{{ booking?.property?.building?.name }}</li>
                <li *ngIf="booking?.property?.type == 'Plot'"><span> Plot Serial </span>{{ booking?.property?.serial }}</li>
                <li><span>Booking Date</span>{{ booking?.createdOn | date:'mediumDate' }}</li>
                <ng-container *ngIf="booking?.property?.type != 'Plot'">
                  <li><span>Floor No.</span>{{ booking?.property?.floor }} Floor</li>
                  <li><span>Flat No</span>{{ booking?.property?.serial }} Flat</li>
                </ng-container>
                <li><span>Area </span>{{booking?.property?.areaSqft}} sq.ft</li>
                <li><span>Possession Date </span>{{ booking?.property?.possessionStatus }}</li>
                <li><span>Booking Amount </span>₹ {{ booking?.property?.bookingPrice }}</li>
                <li><span>Payment Status</span>{{ booking?.payment | titlecase}}</li>
                <li><span>Transaction Status </span> {{ booking?.transactionStatus }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
