.floors:nth-child(1) {
  margin-top: 140px;
}

.floors.active {
  font-weight: 600;
  color: #1c1465;
}

.border {
  border-bottom: 2px solid !important;
}

.text{
  font-weight: 700 !important;
    color: black !important;
}
.center{
  text-align: center;
}

.right{
  text-align: right;
  color: #3a2a2ae0 !important; 
  cursor: pointer;
}
.right1{
  text-align: right;
 
}

.config.active {
  background-color: #c52f33;
  color: #ffffff;
}
.hide {
  display: none;
}

.show-ved {
  display: block;
}

.modal-content > img {
  width: 100%;
}
.modal-dialog {
  max-width: 1000px;
}

.modal-backdrop.show {
  opacity: 0.8 !important;
}
.modal-dialog .carousel-inner .carousel-item img {
  height: 90vh;
}

.modal-content {
  background: transparent;
  border: none;
  text-align: center;
  margin: 0 auto;
}

#gallery > div span {
  opacity: 1;
  position: absolute;
  text-shadow: 7px -1px 5px #292b2c, -1px 0px 5px #292b2c, 0 1px 5px #292b2c,
    1px 0px 5px #292b2c;
  padding: 2rem;
  /* mix-blend-mode: difference; */
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-transform: uppercase;
  transition: all ease 1s;
  font-weight: 500;
  color: #fff;
}

.book-bg .btn-danger {
  background-color: red !important;
}
