<!-- <div class="section-property-name"> -->
  <!-- <div class="container"> -->
    <div class="row" style="padding: 20px;"> 
      <div class="col-12 col-xs-6 col-md-4 col-lg-3">
      <div class="card" style="-webkit-box-shadow: 0px 2px 9px 0px rgba(66,66,66,1);
      -moz-box-shadow: 0px 2px 9px 0px rgba(66,66,66,1);
      box-shadow: 0px 2px 9px 0px rgba(66,66,66,1);border-radius: 20px; padding: 25px;">
        <p class="center">
          <img   src="assets/img/img-logo.png" alt="" title="">
         </p>
          <h3 class="right1">{{ project?.name }} </h3>
          <h4 class="right1">{{ project?.state }}</h4>
          <div class="prise right1" style="color: blue;
          font-weight: bold;
          font-size: 25px;">₹ {{project?.startsFrom}}</div>
          <p>Price includes everything except stamp duty & Registration. </p>
          <!-- <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="overview-tab" role="tab"
              aria-controls="overview" aria-selected="true" [ngClass]="{'active': menu =='overview'}" (click)="toggleMenu('overview')">Overview </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="configurations-tab" role="tab"
              aria-controls="o" aria-selected="false" [ngClass]="{'active': menu =='config'}" (click)="toggleMenu('config')">Configurations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="amenities-tab" role="tab"
              aria-controls="amenities" aria-selected="false" [ngClass]="{'active': menu =='amenities'}" (click)="toggleMenu('amenities')">Amenities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="features-tab" role="tab" aria-controls="features"
              aria-selected="false" [ngClass]="{'active': menu =='features'}" (click)="toggleMenu('features')">Key Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="invest-tab" role="tab" aria-controls="invest"
              aria-selected="false" [ngClass]="{'active': menu =='whyInvest'}" (click)="toggleMenu('whyInvest')">Why Invest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="loan-tab" [ngClass]="{'active': menu =='loan'}" (click)="toggleMenu('loan')">Loan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="download-tab" data-toggle="tab" role="tab" aria-controls="download"
              aria-selected="false" [ngClass]="{'active': menu =='download'}" (click)="toggleMenu('download')">Download</a>
          </li>
          </ul> -->
          <div  id="myTab">  
            <!-- <h5 class="right" id="location-tab" [ngClass]="{'active': menu =='location'}" (click)="toggleMenu('location')"> <span  > Location </span>  </h5>
            <h5 class="right" id="amenities-tab"  [ngClass]="{'active': menu =='amenities'}" (click)="toggleMenu('amenities')"> <span > AMENITIES </span> </h5>
            <h5 class="right" id="loan-tab" [ngClass]="{'active': menu =='loan'}" (click)="toggleMenu('loan')" ><span  > LOAN </span> </h5> -->
          
            <!-- 
            <h5 class="right" (click)="selectpro('WALK THROUGH')"> <span  > WALK THROUGH </span> </h5>
            <h5 class="right" (click)="selectpro('MASTER PLAN')"> <span  > MASTER PLAN </span> </h5>
            <h5 class="right" (click)="selectpro('FLOOR PLAN')"> <span > FLOOR PLAN </span> </h5>
            <h5 class="right" (click)="selectpro('ELEVATION')"> <span  > ELEVATION </span> </h5>
            <h5 class="right" (click)="selectpro('INTERIOR')"> <span > INTERIOR </span> </h5>
            <h5 class="right" (click)="selectpro('SPECIFICATION')"> <span > SPECIFICATION </span> </h5>
            <h5 class="right" (click)="selectpro('PRICE LIST')"> <span  > PRICE LIST </span> </h5>
            <h5 class="right" (click)="selectpro('CURRENT STATUS')"> <span  > CURRENT STATUS </span> </h5>
            <h5 class="right" (click)="selectpro('OTHER')"> <span  > OTHER </span>  </h5> -->  </div>

            
         
        </div>
      </div>
      <div class="tab-pane fade show active" id="amenities" role="tabpanel" aria-labelledby="amenities-tab" *ngIf="menu == 'amenities'">
        <div class="section">
          <h4>{{ project?.name | titlecase }} Amenities</h4>
          <p>The amenities we are providing in this project.</p>
          <ul class="amenities-list">
            <li *ngFor="let ame of project?.amenities"><img [src]="imageUrl +'/'+ame?.logo" alt="" srcset=""> {{ ame?.name }}</li>
          </ul>
          </div>
      </div>

    </div>
  <!-- </div> -->
<!-- </div> -->
<!-- <div class="section-property-detail">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xs-6 col-md-8 col-lg-8">
        
        <img style="cursor: pointer;" data-toggle="modal" data-target=".bd-example-modal-lg" [src]="imageUrl +'/'+project?.images[0]" />
      </div>
      <div class="col-12 col-xs-6 col-md-4 col-lg-4">
       
        <span style="cursor: pointer;" data-toggle="modal" data-target=".bd-example-modal-lg" id="projectImg"><img [src]="imageUrl + '/' + project?.images[1]" /></span>
        <span style="cursor: pointer;" data-toggle="modal" data-target=".bd-example-modal-lg"><img [src]="imageUrl + '/' +project?.images[2]" /> <b>+ {{ project?.images.length - 2 }} More</b></span>
      </div>
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
          <div class="modal-content">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div *ngFor="let image of project?.images; let i = index" class="carousel-item" [ngClass]="{'active': i == 0}">
                  <img class="d-block" [src]="imageUrl + '/'+ image" alt="" srcset="" width="100%" height="90vh" >
                </div>
              </div>
              <a style="background: #000;" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a style="background: #000;" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around bd-highlight property-features">
      <div class="p-2 bd-highlight">{{ project?.typesOfFlats }} Apartments <span>Configurations</span></div>
      <div class="p-2 bd-highlight">{{ project?.launchDate | date:'shortDate'}} <span>Launched Date</span></div>
      <div class="p-2 bd-highlight">₹ {{project?.avgPrice}} Rs/sq.ft <span>Avg. Price</span></div>
      <div class="p-2 bd-highlight">{{ project?.area }}<span>(Builtup Area)</span></div>
    </div>
  </div>
</div>
<div class="section-features-list pt-0">
  <nav id="navigation-menu">
    <div class="container">
      <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="overview-tab" role="tab"
            aria-controls="overview" aria-selected="true" [ngClass]="{'active': menu =='overview'}" (click)="toggleMenu('overview')">Overview </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="configurations-tab" role="tab"
            aria-controls="o" aria-selected="false" [ngClass]="{'active': menu =='config'}" (click)="toggleMenu('config')">Configurations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="amenities-tab" role="tab"
            aria-controls="amenities" aria-selected="false" [ngClass]="{'active': menu =='amenities'}" (click)="toggleMenu('amenities')">Amenities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="features-tab" role="tab" aria-controls="features"
            aria-selected="false" [ngClass]="{'active': menu =='features'}" (click)="toggleMenu('features')">Key Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="invest-tab" role="tab" aria-controls="invest"
            aria-selected="false" [ngClass]="{'active': menu =='whyInvest'}" (click)="toggleMenu('whyInvest')">Why Invest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="loan-tab" [ngClass]="{'active': menu =='loan'}" (click)="toggleMenu('loan')">Loan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="download-tab" data-toggle="tab" role="tab" aria-controls="download"
            aria-selected="false" [ngClass]="{'active': menu =='download'}" (click)="toggleMenu('download')">Download</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row tab-contant">
      <div class="col-12 col-xs-6 col-md-8 col-lg-8">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab" *ngIf="menu == 'overview'">
            <div class="section">
              <h4>{{ project?.name | titlecase }} Overview</h4>
              <ul class="overview-list">
                <li><span>Project Size</span>{{ project?.numberOfBuildings }} Buildings - {{ project?.numberOfHouses }} Plots</li>
                <li><span>Project Area</span>{{ project?.area }} Acres</li>
                <li><span>Launch Date</span>{{ project?.launchDate | date:'shortDate' }}</li>
                <li><span>Rera Id</span>{{ project?.reraId }}</li>
              </ul>
              <h4>About {{ project?.name | titlecase }}</h4>
              <p>{{ project?.description }}</p>
            </div>
          </div>
          <div class="tab-pane fade show active" id="configurations" role="tabpanel" aria-labelledby="configurations-tab"  *ngIf="menu == 'config'">
            <div class="section configurations-box">
              <h4>{{ project?.name | titlecase }} Price & Floor Plan</h4>
              <div class="button-group mb-3">
                <div class="btn-group">
                  <button type="button" [ngClass]="{'active': activeBhkNum == bhkIdx}" *ngFor="let config of project?.bhkNums; let bhkIdx = index;"  class="btn config" (click)="activeBhk(bhkIdx)">{{ config?.name }} BHK</button>
                </div>
              </div>
              <ng-container *ngFor="let bhk of project?.bhkNums; let bhkIdx = index" >
                <span [ngClass]="{'show-ved': activeBhkNum == bhkIdx,'hide': activeBhkNum != bhkIdx}">
                  <ul class="nav nav-tabs" id="myTab" role="tablist" >
                      <li class="nav-item" *ngFor="let option of bhk?.options; let op = index">
                        <a class="nav-link" [ngClass]="{'active': activeOpt == op}"  data-toggle="tab" (click)="toggleConfig(op)" role="tab"  aria-selected="false">{{ option?.size }} sq.ft</a>
                      </li>
                  </ul>

                  <div class="tab-content" id="myTabContent" >
                    <div class="tab-pane fade show" *ngFor="let option of bhk?.options; let op = index" [ngClass]="{'show-ved': activeOpt == op,'hide': activeOpt != op}"  role="tabpanel" >
                      <div class="configurations-prise">
                        ₹ {{ option?.price}}<span></span>
                      </div>
                      <div class="right-text">
                        <p>Builtup Area : <b>{{ option?.builtUpArea }}</b></p>
                      </div>
                      <div class="img-box"><img [src]="option?.image" alt="" title=""></div>
                    </div>
                  </div>
                </span>
              </ng-container>
            </div>
          </div>
          <div class="tab-pane fade show active" id="amenities" role="tabpanel" aria-labelledby="amenities-tab" *ngIf="menu == 'amenities'">
            <div class="section">
              <h4>{{ project?.name | titlecase }} Amenities</h4>
              <p>The amenities we are providing in this project.</p>
              <ul class="amenities-list">
                <li *ngFor="let ame of project?.amenities"><img [src]="imageUrl +'/'+ame?.logo" alt="" srcset=""> {{ ame?.name }}</li>
              </ul>
              <h4>Floorings</h4>
              <ul class="floorings-list list2">
                <li *ngFor="let flooring of project?.floorings">{{ flooring }}</li>
              </ul>
              <h4>Fittings</h4>
              <ul class="fittings-list list2">
                <li *ngFor="let fitting of project?.fittings">{{ fitting }}</li>
              </ul>
              <h4>Walls</h4>
              <ul class="walls-list list2">
                <li *ngFor="let wall of project?.walls">{{ wall }}</li>
              </ul>

            </div>
          </div>
          <div class="tab-pane fade show active" id="features" role="tabpanel" aria-labelledby="features-tab" *ngIf="menu == 'features'">
            <div class="section">
              <h4>Key Features?</h4>
              <ul class="list-invest list2">
                <li *ngFor="let keyFeat of project?.keyfeatures" >{{ keyFeat }}</li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade show active" id="invest" role="tabpanel" aria-labelledby="invest-tab" *ngIf="menu == 'whyInvest'">
            <div class="section">
              <h4>Why invest in Kedia's Corridor?</h4>
              <ul class="list-invest full-list">
                <li *ngFor="let wyInv of project?.whyInvest">{{ wyInv }}</li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade show active" id="loan" role="tabpanel" aria-labelledby="loan-tab" *ngIf="menu == 'loan'">
            <div class="section">
              <h4>{{ project?.name | titlecase }} Loan</h4>
              <ul class="logo-list">
                <li *ngFor="let banks of project?.bankDetails"><img [src]="imageUrl +'/'+ banks?.logo" alt="" title="" width="100px"><span>{{ banks?.loanPercent }}% Floating</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade show active" id="download" role="tabpanel" aria-labelledby="download-tab" *ngIf="menu == 'download' ">
            <div class="section">
              <h4>Download</h4>
              <a href="#" [download]="imageUrl +'/'+  project?.planMap" class="btn" title="Download Plan Map">Download Plan Map</a>
              <a href="#" [download]="imageUrl +'/'+ project?.broucher" class="btn" title="View Brochure">View Brochure</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xs-6 col-md-4 col-lg-4">
        <div class="contact-form">
          <h4 class="text-center pb-2">Contact Us Now</h4>
          <p class="text-center">Please share your contact</p>
          <p><input name="name" required="" type="text" value="" placeholder="Name"></p>
          <p><input name="phone" type="tel" maxlength="10" value="" placeholder="Phone"></p>
          <p><input name="email" required="" type="email" value="" placeholder="Email"></p>
          <p class="mb-0">You are looking for</p>
          <div class="options-wrap">
            <div class="option">2 BHK</div>
            <div class="option">3 BHK</div>
            <div class="option">Other</div>
          </div>
          <p><a class="btn">Submit</a></p>
        </div>
        <div class="side-box">
          <h4>Location On Google Map</h4>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2517.849652808904!2d75.79852266316674!3d26.815224294505835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2933d84145b7d4c8!2sKedia%20Homes!5e0!3m2!1sen!2sin!4v1606116597749!5m2!1sen!2sin"
            width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-availability">
  <div class="container">
    <h2 class="text-center mb-4">Availability</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item " *ngFor="let building of buildings">
        <a class="nav-link" [ngClass]="{'active': activeBuilding == building?._id}" id="{{building?._id}}-tab" data-toggle="tab"  role="tab"
           aria-selected="true" (click)="toggleAvailblity(building?._id)">{{ building?.name }} </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': activeBuilding == 'plot'}" id="plot-tab" data-toggle="tab"  role="tab"
           aria-selected="true" (click)="toggleAvailblity('plot')">Plots </a>
      </li>
    </ul>
    <div class="tab-content availability-tab" id="myTabContent">
      <div *ngFor="let building of buildings" class="tab-pane fade show " [ngClass]="{'active': activeBuilding == building?._id}"  id="{{ building?._id }}" role="tabpanel" >
        <div class="row tab-contant">
          <div class="col-12 col-xs-6 col-md-6 col-lg-6" *ngIf="flats?.length != 0; else notAvailable">
            <ng-container *ngFor="let flat of flats">
              <img  [src]="imageUrl +'/'+ flat?.planImage" alt="" title="" *ngIf="activeBuilding == flat?.building && activeFlatNum == flat?._id">
            </ng-container>


            <div class="floor-box">
              <div class="horizontal-scroll-wrapper  rectangles">
                <div class="floors" [ngClass]="{'active': activeFloorNum == i + 1}" *ngFor="let floor of getArray(building?.floors); let i = index" (click)="activeFloor(i + 1)">{{ i + 1  }} FLOOR</div>
              </div>
            </div>
          </div>
          <ng-template #notAvailable>
            <h3>Flats not available</h3>
          </ng-template>

          <div class="col-12 col-xs-6 col-md-6 col-lg-6">
            <div class="flats-box">
              <ul class="flats-list">
                <span *ngIf="flats?.length > 0">
                  <li *ngFor="let flat of flats"><a [ngClass]="{'active': activeFlatNum == flat?._id}" title="Flat {{ flat?.serial }}" *ngIf="activeFloorNum == flat?.floor" (click)="activeFlat(flat?._id)">Flat {{ flat?.serial }}</a></li>
                </span>
              </ul>
            </div>
            <ng-container *ngFor="let flat of flats">
              <div class="book-box" *ngIf="flat?._id == activeFlatNum">
                <div class="book-bg">
                  <span class="sq-ft">{{ flat?.bedrooms}}BHK<br>{{ flat?.areaSqft }} SQ.FT.</span>
                  <span class="btn" [ngClass]="{'btn-danger': flat?.isBooked}">{{ flat?.isBooked ? 'Booked' : 'Not Booked' }}</span>
                  <span class="floor">{{ flat?.floor }} Floor</span>
                  <span class="floor-plan"><img [src]="imageUrl +'/'+ flat?.planImage" alt="" title=""
                      style="float: left; margin-right:5px;">Floor Plan</span>
                  <span class="btn-book-now"><a [routerLink]="['/booking', flat?._id]" routerLinkActive="router-link-active" *ngIf="!flat?.isBooked"  class="btn" title="Book Now">Book
                      Now</a></span>
                  <span class="paid-text">*MINIMUM AMOUNT TO BE PAID {{flat?.bookingPrice}}*</span>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="plots" role="tabpanel" [ngClass]="{'active': activeBuilding == 'plot'}" aria-labelledby="plots-tab" *ngIf="activeBuilding == 'plot'">
        <div class="row tab-contant plots-box">
          <div class="col-12 col-xs-6 col-md-12 col-lg-12">
            <img [src]="imageUrl+'/'+project?.planMap" alt="" title="" style="width: 100%;">
            <div class="flats-box">
              <ul class="flats-list">
                <li data-toggle="modal" data-target="#exampleModalCenter" *ngFor="let plot of plots" (click)="activatePlot(plot)"><a  [title]="plot?.serial" [ngClass]="{'active': activatedPlot._id == plot?._id}">Plot {{ plot?.serial }}</a></li>
              </ul>
            </div>
           


            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content mt-5">
                  <div class="modal-body">
                    <div class="book-box" style="position: relative;">
                      <div class="book-bg" style="width: 40%;">
                        <span class="btn" [ngClass]="{'btn-danger': activatedPlot?.isBooked, 'btn-success': !activatedPlot?.isBooked}"  >{{ activatedPlot?.isBooked ? 'Booked' : 'Not Booked' }}</span>
                        <span class="floor"> Floor</span>
                        <span class="floor-plan"><img [src]="imageUrl +'/'+ activatedPlot?.planImage" alt="" [title]="activatedPlot?.serial" style="float: left; margin-right:5px;">Floor Plan</span>
                        <span *ngIf="!activatedPlot?.isBooked" class="btn-book-now"><a (click)="goToBooking()"  style="color: #fff;" class="btn" title="Book Now">Book
                            Now</a></span>
                        <span class="paid-text">*MINIMUM AMOUNT TO BE PAID {{ activatedPlot?.bookingPrice }}*</span>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer" style="display: none;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="bookingModalClose">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-book-online  pb-5 pt-5">
  <div class="container">
    <h2>How to Book Online </h2>
    <p>Please check the complete steps to book your property </p>
    <div class="row book-online-row">
      <div class="col-12 col-xs-6 col-md-6 col-lg-6">
        <ul class="book-online-step">
          <li class="float-left"><span></span>Choice Your Project </li>
          <li><span class="choice-flats"></span>Choice Your Flats /Villas</li>
          <li class="float-right"><span class="pay-amount"></span>Pay Minimum Amount </li>

        </ul>
      </div>
      <div class="col-12 col-xs-6 col-md-6 col-lg-6 heading-your-property">
        <h2>First Time in India Book Your property
          with live Vacent Software <img src="assets/img/heading-img.png" /></h2>
      </div>
    </div>
    <div class="book-online-box">
      <ul class="book-online-list">
        <li><span class="laundry"></span>laundry</li>
        <li><span class="shop-commercial"></span>Shop/Commercial</li>
        <li><span class="car-rental"></span>Car Rental</li>
        <li><span class="city-concierge"></span>City Concierge</li>
        <li><span class="baby-sitter"></span>Baby Sitter</li>
        <li><span class="airport-shuttle"></span>Airport Shuttle</li>

      </ul>
    </div>

  </div>
</div>
<div class="section-newsletter">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xs-6 col-md-7 col-lg-7 pr-0">
        <h4>Subscribe to Our Newsletter <span>and receive updates and exclusive offers</span></h4>
      </div>
      <div class="col-12 col-xs-6 col-md-5 col-lg-5 pl-0">
        <form>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Enter your email">
            <span class="input-group-btn">
              <button class="btn" type="submit">Subscribe </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="section-projects mt-1 ">
  <div class="container">
    <h3>New Projects </h3>
    <h5>Explore the ideal new projects in jaipur </h5>
    <div class="owl-carousel mt-3">
      <div class="item">
        <div class="projects-box">
          <img src="assets/img/img-projects.png" />
        </div>
        <h5>{{ project?.name | titlecase }}</h5>
        <div class="price">
          <span class="d-inline-block">Starts From </span>45 lacs*
        </div>
      </div>
      <div class="item">
        <div class="projects-box">
          <img src="assets/img/img-projects.png" />
        </div>
        <h5>Kedia’s The oxygen</h5>
        <div class="price">
          <span class="d-inline-block">Starts From </span>60 lacs*
        </div>
      </div>
      <div class="item">
        <div class="projects-box">
          <img src="assets/img/img-projects.png" />
        </div>
        <h5>Presidential Villa, The Palm</h5>
        <div class="price">
          <span class="d-inline-block">Starts From </span>70 lacs*
        </div>
      </div>
      <div class="item">
        <div class="projects-box">
          <img src="assets/img/img-projects.png" />
        </div>
        <h5>Presidential Villa, The Palm</h5>
        <div class="price">
          <span class="d-inline-block">Starts From </span>80 lacs*
        </div>
      </div>
    </div>
  </div>
</div> -->
